.center_inner {
  border: 1px solid rgba(0, 0, 0, .12);
  background-color: rgb(0 18 68 / 70%);
  border-radius: 20px;
}

.bet_type {
  display: inline-block;
  padding: 3px 10px;
  width: 52px;
  text-align: center;

  &.lay_bet {
    background: #f9c9d4;
  }

  &.back_bet {
    background: #a7d8fd;
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}

.red {
  color: #ff5e5e;
}

.green {
  color: #00ec00;
}

.content_disable {
  pointer-events: none;
  color: #fff;
}

.all_bets_modal {
  padding: 0px !important;

  @media (min-width:1200px) {
    padding-right: 30px !important;
  }

  .modal-dialog {
    margin-top: 123px;
  }

  .modal-header {
    padding: 5px 15px;

    h5 {
      font-size: 16px;
      margin: 0px;
    }
  }

  .modal-body {
    .table-responsive {
      overflow-y: auto;
      height: 350px;
    }
  }
}

.pagination_filter {
  color: #fff;
  font-size: 12px;
  // padding-left: 15px;
  font-weight: 600;

  select {
    margin-left: 5px;
    color: #000;
    font-weight: 600;
  }
}

.tableSearch {
  display: flex;
  justify-content: flex-end;

  label {
    color: #fff;
    font-size: 12px;
    font-weight: 600;

    input {
      border: none;
      border-bottom: 1px solid #9e9e9e;
      border-radius: 0;
      font-size: 12px;
      font-weight: 600;
      background-color: transparent;
      border-radius: 0;
      margin-left: 2px;
      color: #fff;

      &:focus {
        border-bottom: 1px solid #ffcb2f !important;
        box-shadow: 0 1px 0 0 #ffcb2f !important;
      }

      &:focus-visible {
        outline: 0;
      }
    }
  }
}

table {
  tr {
    th{
      color: #fff;
    }
    td {
      color: #fff;
      a {
        color: #fff;
        max-width: 100%;
        display: inline-block;
        width: 100%;
        white-space: pre-wrap;

        &:hover {
          text-decoration: none;
        }
      }

      .label-success {
        background-color: #337ab7;
        padding: 0.2em 0.6em 0.3em;
        font-size: 75%;
        line-height: 1;
        color: #fff;
        white-space: nowrap;
        border-radius: 0.25em;
      }

      .label-info {
        background-color: #5bc0de;
        padding: 0.2em 0.6em 0.3em;
        font-size: 75%;
        line-height: 1;
        color: #fff;
        white-space: nowrap;
        border-radius: 0.25em;
      }
    }
  }
}