<div class="main_wrap">
    <div class="center_col full_wid">
        <div class="center_inner pt-3 pt-lg-0">
            <div class="page_title ">
                <h3>Account Statement</h3>
            </div>
            <div class="table_area my_bets_table">
                <div class="filter">
                    <form class="mb-1 form-inline d-block">
                        <div class="main_form row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-field d-flex flex-column flex-sm-row mb-1 mb-md-0">
                                            <div
                                                class="pagination_filter mr-sm-3 d-flex align-items-center justify-content-center justify-content-sm-start">
                                                Show
                                                <select (change)="updateRecValue($event.target.value)"
                                                    class="form-control mr-2" id="">
                                                    <option value="uISERVICE.take" selected>{{uISERVICE.take}}</option>
                                                    <option value="10" *ngIf="uISERVICE.take!=10">10</option>
                                                    <option value="20" *ngIf="uISERVICE.take!=20">20</option>
                                                    <option value="30" *ngIf="uISERVICE.take!=30">30</option>
                                                    <option value="40" *ngIf="uISERVICE.take!=40">40</option>
                                                    <option value="50" *ngIf="uISERVICE.take!=50">50</option>
                                                </select>
                                                entries
                                            </div>
                                            <div class="btnsGrp mt-2 mt-sm-0 mb-2 m-sm-0">
                                                <!-- <button (click)="getTransactionHistory()" type="submit"
                                                    class="btn btn-primary mr-2">CSV</button> -->
                                                <button type="button" class="btn btn-primary file_btn mr-2 ml-0"
                                                    (click)="exportexcel()">
                                                    Excel
                                                </button>
                                              <!--   <button type="submit" class="btn btn-primary mr-2">PDF</button> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="tableSearch  justify-content-center justify-content-sm-end">
                        <label>Search:<input type="search" class="" placeholder="Search By Discription" [(ngModel)]="mrktName" (keyup)="search($event.target.value)"></label>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-middle table-striped mb-0 table_design" id="excel-table2"
                        style="border-bottom: 1px solid #111;">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Type</th>
                                <th>Descripsion</th>
                                <th>Amount</th>
                                <!-- <th>Cr</th> -->
                                <th>Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let data of TransactionObj  | paginate: { itemsPerPage:uISERVICE.take, currentPage:pageNo,totalItems: totalRec }">
                                <td> {{data.CreatedOn | date: 'dd/MM/yyyy hh:mm a'}}</td>
                                <td>
                                    <span class="label-success" >{{data.Type}}</span>
                                </td>
                                <td><a [ngClass]="{'content_disable':data.MarketName=='Cash','content_enable':data.MarketName!='Cash'}"
                                        href="javascript:void(0)" (click)="getMarketBets(data)" data-toggle="modal"
                                        data-target="#acc_detail2">{{data.Discription}}</a></td>
                                <td><span [ngClass]="{'red':data.Amount<0,'green':data.Amount>=0}">{{data.Amount |
                                        number :
                                        '1.2-2'}}</span>
                                </td>
                                <!-- <td>-</td> -->
                                <td>{{data.Balance | number :
                                    '1.2-2'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div
                    class="pagination_filter pt-3 d-flex align-items-center flex-column flex-sm-row justify-content-center justify-content-sm-between">
                    <p class="mb-4 mb-sm-0">Showing {{TransactionObj?.length}} of {{totalRec}} entries</p>
                    <pagination-controls class="pagination" maxSize="9" directionLinks="true"
                        (pageChange)="pageChanged($event)">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Model start -->
<div class="modal fade custoModalld" id="acc_detail2" tabindex="-1" aria-labelledby="acc_detail2Label"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-custom-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="acc_detail2Label">Market Bets</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="fa fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="table_area shadow_none">
                    <div class="table-responsive">
                        <table class="table back_layclr" id="excel-table2">
                            <thead role="rowgroup">
                                <tr>
                                    <th>EventName</th>
                                    <th>Market</th>
                                    <th>Rate</th>
                                    <th>Stake</th>
                                    <th>P|L</th>
                                    <th>M. Date</th>    
                                    <th>Result</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let obj of BetMrktObj"
                                [ngClass]="{'back':obj.BetType=='Back' || obj.BetType=='Yes','lay':obj.BetType=='Lay' || obj.BetType=='No'}">
                                <td>{{obj.EventName}}</td>
                                <td>{{obj.MarketName}}</td>
                                <td>{{obj.Odds}}</td>
                                <td>{{obj.Stake | number :
                                    '1.2-2'}}</td>
                                    <td [ngClass]="{'red':obj.Profit<0,'green':obj.Profit>=0}">{{obj.Profit |number :
                                        '1.2-2'}}</td>
                                        <td>{{obj.createdOn | date: 'dd/MM/yyyy hh:mm a'}}</td>
                                        <td>{{obj.Result}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                 

                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0)" data-dismiss="modal" aria-label="Close" class="modal-close red btn">
                    <span class="animate-btn">Close</span>
                </a>
            </div>
        </div>
    </div>
</div>
