.footer-main {
    padding: 15px 0 5px;

    @media(max-width:1199.9px) {
        margin: 0px 0 65px;
    }

    ul.links {
        text-align: center;
        display: inline-block;
        padding: 7px 0 7px;
        width: 100%;
        border-bottom: 1px solid #eeeeee69;
        margin: 0 auto;

        li {
            position: relative;
            display: inline-block;

            a {
                color: #fff;
                font-weight: 600;
                font-size: 13px;
                line-height: 13px;
                padding-right: 10px;
                padding-left: 5px;
                border-right: solid 1px #202323;

                &:hover {
                    text-decoration: none;
                }
            }

            &:last-child {
                a {
                    border-right: none;
                }
            }
        }
    }

    .icons {
        padding: 15px 5px 5px 5px;
        text-align: center;

        a {
            display: inline-block;
            padding: 0 3px;

            img {
                width: 50px;
                height: 50px;
            }
        }
    }

    .copyright {
        padding-top: 15px;
        padding-bottom: 5px;
        color: #fff;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
    }
}

.bottom_nav {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #001244;
    color: #fff;
    font-size: 13px;
    z-index: 9;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: inset 0 1px 5px rgba(20, 20, 20, 0.11);

    ul {
        li {
            flex-basis: 20%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 50px;
            position: relative;
            z-index: 1;

            &.z-0 {
                z-index: 0;
            }

            a {
                color: #fff;
                cursor: pointer;
                font-size: 11px;
                justify-content: center;
                text-align: center;
                position: relative;
                display: flex;
                flex-direction: column;
                font-weight: 600;
                letter-spacing: .3px;

                svg {
                    display: inline-block;
                    margin: auto;
                    margin-top: 2px;
                    margin-bottom: 2px;

                    path,
                    react {
                        fill: #fff;
                    }
                }
            }

            &.big {
                position: absolute;
                height: 70px;
                width: 260px;
                // width: 20%;
                margin: 0 auto;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 0;

                span {
                    line-height: 21.5px;
                }

                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: -6px;
                    height: 64px;
                    background-color: #001244;
                    border-radius: 100%;
                    z-index: 2;
                    width: 64px;
                    margin: auto;
                    box-shadow: 0.3rem 0.3rem 0.6rem #4c5c8e, -0.2rem -0.2rem 0.5rem #707890;
                }

                a {
                    position: relative;
                    color: #fff;
                    top: 25px;
                    z-index: 2;

                    svg {
                        width: 15px;
                        height: 15px;
                        margin: 1px 2px;
                        box-shadow: none;
                        border-radius: 0;

                        path {
                            fill: #fff;
                        }
                    }
                }
            }

            .cloBtn {
                display: none;
            }

            .items {
                visibility: hidden;
                // display: none;
            }

            .menu-item {
                transition: transform .5s;
                transition-delay: 0.1s;
            }

            &.all-items {
                a {
                    top: -8px;
                }

                .bottom-circle {
                    width: 260px;
                    position: absolute;
                    left: 0px;
                    right: auto;
                    bottom: 48px;
                    z-index: 0;

                    // @media (min-width: 320px) and (max-width:359px) {
                    //     left: -100px !important;
                    // }

                    // @media (min-width: 400px) and (max-width:480px) {
                    //     left: -85px !important;
                    // }

                    // @media (min-width: 481px) and (max-width:575px) {
                    //     left: -75px !important;
                    // }

                    // @media (min-width: 576px) and (max-width:767px) {
                    //     left: -70px !important
                    // }
                    .circle-nav {
                        width: 100%;
                        height: 140px;
                        position: relative;
                        z-index: -3;
                        left: auto;
                        right: auto;
                        margin: auto;
                        text-align: center;
                        overflow: hidden;
                        bottom: 0;
                        -webkit-transform: rotate(180deg);
                        transform: rotate(180deg);
                        float: left;

                        .circle-nav-open {
                            opacity: 1;
                            background-color: #001244;
                            border-radius: 50%;
                            -webkit-transform: translate(-50%, -52.5%);
                            transform: translate(-50%, -52.5%);
                            -webkit-transition: width .5s cubic-bezier(0, 1.16, 1, 1), height .5s cubic-bezier(0, 1.16, 1, 1);
                            transition: width .5s cubic-bezier(0, 1.16, 1, 1), height .5s cubic-bezier(0, 1.16, 1, 1);
                            width: 260px;
                            height: 260px;
                            position: absolute;
                            z-index: -3;
                            -webkit-box-shadow: inset 1px 5px 10px rgba(20, 20, 20, .35);
                            box-shadow: inset 1px 5px 10px rgba(20, 20, 20, .35)
                        }
                    }
                }

                .menu-item {
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    left: 0;
                    right: 0;
                    line-height: 5px;
                    top: 75%;
                    margin: -50px auto 0 auto;
                    border-radius: 50%;
                    background-color: #001244;
                    transform: translate(0, 0);
                    transition: transform 0.5s;
                    z-index: 1;
                    // box-shadow: 0.3rem 0.3rem 0.6rem #bbb, -0.2rem -0.2rem 0.5rem #fff;
                    box-shadow: 0.3rem 0.3rem 0.6rem #4c5c8e, -0.2rem -0.2rem 0.5rem #707890;

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        position: static;

                        svg {
                            width: 20px;
                            height: 20px;
                            margin: auto;
                        }
                    }
                }

                .items {
                    visibility: visible;
                    transition-delay: .3s;

                    // display: block;
                    &:nth-child(5) {
                        -webkit-transform: rotate(60deg) translateY(-90px) rotate(300deg);
                        transform: rotate(60deg) translateY(-90px) rotate(300deg);
                        -webkit-transition-delay: 0s;
                        transition-delay: 0s
                    }

                    &:nth-child(4) {
                        -webkit-transform: rotate(20deg) translateY(-95px) rotate(-20deg);
                        transform: rotate(20deg) translateY(-95px) rotate(-20deg);
                        -webkit-transition-delay: .1s;
                        transition-delay: .1s
                    }

                    &:nth-child(2) {
                        -webkit-transform: rotate(-20deg) translateY(-95px) rotate(20deg);
                        transform: rotate(-20deg) translateY(-95px) rotate(20deg);
                        -webkit-transition-delay: .2s;
                        transition-delay: .2s
                    }

                    &:nth-child(3) {
                        -webkit-transform: rotate(-60deg) translateY(-90px) rotate(60deg);
                        transform: rotate(-60deg) translateY(-90px) rotate(60deg);
                        -webkit-transition-delay: .3s;
                        transition-delay: .3s
                    }
                }

                .cloBtn {
                    display: block;

                    i {
                        font-size: 18px;
                    }
                }

                .noneAllit {
                    display: none;
                }
            }
        }
    }
}


.searchModal {
    .searchMobMod {
        margin: 0;

        .modal-content {
            height: 100vh;
            background-color: rgba(0, 0, 0, .7);

            .login_form {
                height: 100%;
                position: relative;

                .btn-close {
                    right: 20px;
                    position: absolute;
                    top: 40px;
                    background-color: transparent;
                    padding: 0;
                    border: 0;

                    i {
                        border-radius: 50%;
                        padding: 6px;
                        width: 35px;
                        height: 35px;
                        text-align: center;
                        color: #ffcb2f;
                        border: 2px solid #ffcb2f;
                        font-size: 20px;
                    }
                }

                .loginWrap {
                    top: 15%;
                    position: relative;

                    .input-field {
                        margin: 30px 10px;
                        display: flex;
                        justify-content: center;


                        input {
                            width: 100%;
                            background: #fff;
                            height: 35px;
                            margin-bottom: 0;
                            border-bottom: none;
                            padding: 5px 0 5px 15px;
                            border-top-left-radius: 8px;
                            border-bottom-left-radius: 8px;
                            border: 0;

                            &:focus {
                                outline: 0;
                                box-shadow: none;
                            }

                        }

                        button {
                            width: 15%;
                            padding: 5px;
                            color: #5c6060;
                            background: #ffcb2f;
                            font-size: 17px;
                            border: none;
                            cursor: pointer;
                            border-top-right-radius: 8px;
                            border-bottom-right-radius: 8px;
                        }
                    }
                }
            }
        }
    }
}

.backdrpmain {
    display: none;
    background-color: #000a2c;
    width: 100%;
    position: fixed;
    top: 0;
    height: 100%;
    padding-top: 40%;
    z-index: 2;

    .mobMenuCol {
        height: 100%;
        overflow: auto;
        padding-bottom: 60px;

        ul {
            li {
                a {
                    color: #fff;
                    font-size: 16px;
                    padding: 10px 14px;
                    font-weight: 500;
                }
            }
        }

        .btnCloseMenu {
            cursor: pointer;
            position: absolute;
            bottom: 100px;
            left: 50px;
            right: 0;
            margin: 0 auto;
            color: #202323;
            font-size: 20px;
            padding: 0;
            width: 35px;
            height: 35px;
            line-height: 35px;
            background-color: #ffcb2f;
            text-align: center;
            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0.16) 0 2px 5px, rgba(0, 0, 0, 0.23) 0 2px 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0;
        }
    }
}



.oneClickBet {
    max-width: 600px;

    .modal-content {
        border-radius: 20px 20px 20px 20px;
        box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);

        .modal-header {
            background-color: #001244;
            border-bottom: 1px solid #dee2e6;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            align-items: center;
            padding: 4px 0px;

            h1 {
                font-size: 15px;
                display: block;
                line-height: 30px;
                margin-bottom: 8px;
                margin-top: 0;
                font-weight: 600;
                position: relative;
                width: fit-content;
                color: #fff;
                margin-left: 15px;

                &:after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    bottom: 0px;
                    left: 0px;
                    border-bottom: 2px solid #fff;
                }
            }

            button.btn-close {
                color: #fff !important;
                background-color: transparent;
                width: 40px;
                height: 40px;
                border: 0;
                border-radius: 40px;
                opacity: 1;
                z-index: 1;
                font-size: 20px;
                color: #fff !important;
                font-weight: 700;
            }
        }

        .modal-body {
            background-color: #000929;
            min-height: 130px;

            .settlementBody {
                h3 {
                    font-size: 15px;

                    svg {
                        margin-right: 10px;

                        path {
                            fill: #fff;
                        }
                    }
                }

                .custom-checkbox {
                    .switchBtnCommon {
                        margin-bottom: 0;
                    }
                }

                .setBetClick {
                    background-color: #56575a9c;
                    .chipSet {
                        width: 50%;
                        padding: 5px;
                        display: inline-block;
                        &.select{
                            .setChipsBtn {
                                background-color: #202323;
                                color: #fff;
                                transition: all ease-in .3s;
                                border-bottom: 1px solid #ffcb2f;
                                box-shadow: 0 1px 0 0 #ffcb2f;
                            }
                        }
                        .setChipsBtn {
                            cursor: pointer;
                            width: 100%;
                            font-weight: 500;
                            padding: 6px 5px;
                            text-align: center;
                            font-size: 14px;
                            border: 1px solid transparent;
                            border-radius: 8px;
                            background-color: #fff;
                            color: #273a47;
                            box-shadow: rgb(255 255 255 / 36%) 0 2px 5px, rgb(255 255 255 / 43%) 0 2px 5px;
                        }
                    }
                }
            }
        }

        .modal-footer {
            padding: 4px 10px;
            border-radius: 0 0 20px 20px;
            background-color: #001244;

            .modCancel {
                background-color: #f44336 !important;
                border: 0;
                width: 125px;
                height: 33px;
                font-size: 12px;
                box-shadow: none;
                font-weight: 600;
                border-radius: 30px;
                text-transform: uppercase;
            }
        }
    }
}

.switchBtnCommon {
    position: relative;
    display: inline-block;
    width: 84px;
    height: 29px;

    input {
        display: none;
    }

    input:checked+.slider {
        background-color: #2ab934;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #f1556c;
        -webkit-transition: .4s;
        transition: .4s;

        &:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 4px;
            top: 50%;
            transform: translate(0px, -50%);
            background-color: white;
            transition: 0.4s;
        }
    }

    input:checked+.slider:before {
        right: 4px;
        left: unset;
        top: 50%;
        transform: translate(0px, -50%);
        transition: 0.4s;

    }

    /*------ ADDED CSS ---------*/
    .on {
        display: none;
    }

    .on,
    .off {
        color: white;
        position: absolute;
        /* transform: translate(-50%, -50%); */
        /* top: 50%; */
        /* left: 50%; */
        font-size: 10px;
        white-space: nowrap;
        width: calc(100% - 20px);
        height: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 11px;
    }

    .on {
        left: 0;
    }

    .off {
        right: 0;
        display: flex;
    }

    input:checked+.slider .on {
        display: flex;
    }

    input:checked+.slider .off {
        display: none;
    }

    /*--------- END --------*/

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
}