
<div class="main_wrap">
    <div class="center_col full_wid">
        <div class="center_inner pt-3 pt-lg-0">
            <div class="page_title">
                <h3>Profit & Loss</h3>
            </div>
            <div class="table_area my_bets_table mt-3">
                <div class="filter prlsFilter">
                    <form class="mb-3 form-inline d-block">
                        <div class="main_form row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                        <div class="form-field">
                                            <label for="">From Date</label>
                                            <input type="date" name="sdate" [(ngModel)]="latest_date"
                                                (blur)="getStartDate($event.target.value)" class="form-control mr-2"
                                                id="sdate">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                        <div class="form-field">
                                            <label for="">To Date</label>
                                            <input type="date" class="form-control" name="edate" [(ngModel)]="last"
                                                (blur)="getEndDate($event.target.value)" id="edate">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                        <div class="form-field">
                                            <button type="submit" class=" cstmSearch"
                                                (click)="getProfitLoss()">Search</button>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                        <div class="form-field">
                                            <label for="">Total P&L</label>
                                            <input placeholder="Total P&L" [value]="totalPl" id="Total_P&L" type="text" readonly
                                            style="font-weight: 600; font-size: 12px;"
                                            [ngClass]="{'text-success': totalPl > 0, 'text-danger': totalPl <= 0}">
                                          
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-12 mt-3">
                                <div class="form-field d-flex flex-column flex-sm-row mb-1 mb-md-0">
                                    <div
                                        class="pagination_filter mr-sm-3 d-flex align-items-center justify-content-center justify-content-sm-start">
                                        Show
                                        <select class="form-control mr-2" id="">
                                            <option value="uISERVICE.take" selected>{{uISERVICE.take}}</option>
                                            <option value="10" *ngIf="uISERVICE.take!=10">10</option>
                                            <option value="20" *ngIf="uISERVICE.take!=20">20</option>
                                            <option value="30" *ngIf="uISERVICE.take!=30">30</option>
                                            <option value="40" *ngIf="uISERVICE.take!=40">40</option>
                                            <option value="50" *ngIf="uISERVICE.take!=50">50</option>
                                        </select>
                                        entries
                                    </div>
                                    <div class="btnsGrp mt-2 mt-sm-0 mb-2 m-sm-0">
                                        <!-- <button type="submit" class="btn btn-primary mr-2">CSV</button> -->
                                        <button type="button" class="btn btn-primary file_btn mr-2 ml-0"
                                            (click)="exportexcel()">
                                            Excel
                                        </button>
                                        <!-- <button type="submit" class="btn btn-primary mr-2">PDF</button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-responsive">
                    <table class="table align-middle table-striped mb-0 table_design" id="excel-table2"
                        style="border-bottom: 1px solid #111;">
                        <thead>
                            <tr>
                                <th>Sr No</th>
                                <th>Discription</th>
                                <th>Amount</th>
                                <th>Commission</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="profitLossObj?.length">
                            <tr *ngFor="let obj of profitLossObj | paginate: { itemsPerPage:uISERVICE.take, currentPage:pageNo,totalItems: totalRec }  ;let i=index ">
                                <td>{{i+1}}</td>
                                <td><a href="javascript:void(0)" data-toggle="modal" data-target="#profitLossModel"
                                        (click)="getEventId(obj.EventId)">{{obj.Discription}}</a></td>
                                <td [ngClass]="{'red':obj.Amount<0,'green':obj.Amount>=0}">{{obj.Amount}}</td>
                                <td>{{obj.Balance}}</td>
                                <td>{{obj.CreatedOn |date:'MMM d, y, h:mm:ss a'}}</td>
                            </tr>
                        </tbody>
                        <tbody *ngIf=" !profitLossObj?.length">
                            <tr>
                                <td colspan="15" style="text-align: center;"> No Record Found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div
                    class="pagination_filter pt-3 d-flex align-items-center flex-column flex-sm-row justify-content-center justify-content-sm-between">
                    <p class="mb-4 mb-sm-0">Showing {{profitLossObj?.length}} of {{totalRec}} entries</p>
                    <pagination-controls class="pagination" maxSize="9" directionLinks="true"
                        (pageChange)="pageChanged($event)">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Model start -->
<div class="modal fade custoModalld" id="profitLossModel" tabindex="-1" aria-labelledby="acc_detail2Label"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-custom-md">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h5 class="modal-title" id="acc_detail2Label">Client Profit And Loss</h5> -->
                <h5 class="modal-title" id="acc_detail2Label">Market Bets</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <!-- <span aria-hidden="true" (click)="reset()">&times;</span> -->
                    <i (click)="reset()" aria-hidden="true" class="fa fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="table_area shadow_none">
                  
                    <div class="table-responsive">
                        <table class="table back_layclr">
                            <thead role="rowgroup">
                                <tr>
                                    <th>User Name</th>
                                    <th>Event Name</th>
                                    <th>Market Name</th>
                                    <th>Runner Name</th>
                                    <th>Odds</th>
                                    <th>Stake</th>
                                    <th>Profit</th>
                                    <th>Result</th>
                                    <th>Date </th>
                                </tr>
                            </thead>
                            <tbody *ngIf="eventBetObj?.length">
                                <tr *ngFor="let obj of eventBetObj"
                                    [ngClass]="{'back':obj.BetType=='Back' || obj.BetType=='Yes','lay':obj.BetType=='Lay' || obj.BetType=='No'}">
                                    <td>{{obj.UserName}}</td>
                                    <td>{{obj.EventName}}</td>
                                    <td>{{obj.MarketName}}</td>
                                    <td>{{obj.RunnerName}}</td>
                                    <td>{{obj.Odds}}</td>
                                    <td>{{obj.Stake}}</td>
                                    <td [ngClass]="{'red':obj.Profit<0,'green':obj.Profit>=0}">{{obj.Profit |number :
                                        '1.2-2'}}</td>
                                    <td>{{obj.Result}}</td>
                                    <td>{{obj.createdOn |date:'MMM d, y, h:mm:ss a'}}</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf=" !eventBetObj?.length">
                                <tr>
                                    <td colspan="15" style="text-align: center;"> No Record Found</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0)" data-dismiss="modal" aria-label="Close" class="modal-close red btn">
                    <span class="animate-btn">Close</span>
                </a>
            </div>
        </div>
    </div>
</div>