.fancy_modal_btn {
    z-index: 999;
    outline: none;
    box-shadow: none;
}
.count-down-timer {
    .wrapper {
      .description,
      .times {
        display: flex;
        grid-column-gap: 6px;
        padding: 0 6px;
      }
      .times {
        p {
            letter-spacing: 0;
            position: relative;
            margin: 0;
            font-size: 22px;
            line-height: 20px;
            font-weight: 600;
            color: #5c6060;
            text-align: center;
            @media screen and (max-width: 475px) {
                font-size: 16px;
            }
        }
        span.disc{
            margin: 0;
            text-align: center;
            font-size: 10px;
            font-weight: 400;
        }
      }
    }
  }
  

.selectionPoiny {
    color: #3abe06;
    font-size: 12px;

    &.negtive-val {
        color: red;
    }
}

.scrore_area {
    min-height: 220px;
    margin-bottom: 10px;
    border-radius: 3px;
    padding: 0px 0px 0px;
    // position: sticky;
    // top: 76px;
    // z-index: 9999;

    @media (max-width:1199.9px) {
        top: 65px;
        min-height: 50px;
        padding: 0px 0px 0px;
        margin-bottom: 2px;
    }

    @media (min-width:992px) {
        padding: 0px 0px 0px;
    }
iframe{
    // height: 220px;
    height: 320px;
}

    // &.cricket_score {
    //     background-image: url('/assets/score_bg/cricket.jpg');
    //     background-repeat: no-repeat;
    //     background-position: center;
    //     background-size: cover;
    // }

    .event_info {
        display: flex;
        align-items: center;
        padding: 10px;
        background: rgba($color: #000000, $alpha: 0.6);
        border-radius: 3px 3px 0 0;

        @media(max-width:1199.9px) {
            background-color: transparent;
            padding: 1px 10px 0;
            // position: absolute;
            // left: 50%;
            // transform: translate(-50%, -50%);
            // z-index: 2;
            // top: 50%;
        }

        h4 {
            font-size: 16px;
            font-weight: 500;
            color: #fff;

            @media(max-width:1199.9px) {
                display: none;
            }

            @media (min-width:768px) {
                font-size: 20px;
            }
        }

        .svg-icon {
            fill: #fff;
            width: 18px;
            height: 18px;
            margin-top: -4px;
        }

        small {
            font-size: 65%;

            @media (max-width:767px) {
                display: block;
                padding-top: 8px;
            }
        }

        .event_status {
            position: relative;

            button.live_btn {
                position: relative;
                padding: 3px 14px;
                font-weight: 500;
                font-size: 14px;
                border-radius: 4px;
                z-index: 0;

                @media (max-width:991px) {
                    padding: 1px 12px;
                    font-size: 12px;
                }

                &:hover {
                    color: #fff;
                }

                &:after {
                    z-index: -1;
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: #727272;
                    left: 0;
                    top: 0;
                    border-radius: 4px;
                }

                &:before {
                    content: '';
                    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
                    position: absolute;
                    top: -1px;
                    left: -1px;
                    background-size: 400%;
                    z-index: -1;
                    filter: blur(5px);
                    width: calc(100% + 2px);
                    height: calc(100% + 2px);
                    animation: glowing 20s linear infinite;
                    opacity: 1;
                    transition: opacity .3s ease-in-out;
                    border-radius: 10px;

                    @keyframes glowing {
                        0% {
                            background-position: 0 0;
                        }

                        50% {
                            background-position: 400% 0;
                        }

                        100% {
                            background-position: 0 0;
                        }
                    }
                }
            }
        }
    }

    .score_bar {
        background: #204878d6;
        color: #fff;
        max-width: 95%;
        margin: 0px auto 0;
        border-radius: 2px;
        font-size: 16px;
        padding: 12px;

        @media(max-width:1199px) {
            margin: 2px auto 0 !important;
        }

        @media(max-width:991px) {
            font-size: 13px;
            padding: 4px 4px 0 !important;
        }

        @media (min-width:992px) {
            margin: 15px auto 0;
        }

        @media (min-width:768px) {
            max-width: 75%;
            border-radius: 4px;
        }

    }

    strong {
        font-weight: 500;
        margin-bottom: 6px;
        display: block;
    }

    .score_data {
        div {
            font-size: 14px;
            margin: 2px 0px;
        }
    }

    .f_score_data {
        font-size: 20px;
        margin: 0px;

        @media(max-width:991px) {
            font-size: 14px;
        }
    }

    .f_score_datad {
        padding: 0px 5px;
        font-size: 20px;

        @media(max-width:991px) {
            font-size: 14px;
        }
    }

    .set_design {
        font-size: 12px;
    }

    .tennis_table_design {
        margin-bottom: 0px;

        tbody {
            background: transparent;
            color: #fff;

            tr {
                td {
                    border: unset;
                    font-size: 12px;
                    padding: 0px 3px;

                    strong {
                        font-size: 14px;

                        @media(max-width:991px) {
                            font-size: 13px;
                        }
                    }
                }

                &:hover {
                    background: transparent;
                }
            }
        }
    }

    .tennis_score_bar {
        padding: 3px 10px 10px;
        max-width: 100%;
        margin: 15px auto 0px;
        background: rgba(0, 0, 0, 0.6);
    }
}

.fancybook_modal {
    .modal-dialog {
        margin-top: 77px;

        .modal-header {
            padding: 10px 15px;
            background-color: #204878;

            h5 {
                color: #fff;
            }

            .close {
                color: #fff;
                opacity: 1;
            }
        }

        thead {
            tr {
                background: #d9d9d9;
            }
        }

        .green {
            color: #0fa810;
        }

        .red {
            color: red;
        }
    }
}

.bet_table_row {
    .nation_name {
        width: 100%;

        @media (min-width:768px) {
            width: calc(100% - 452px);
        }

        @media (max-width:767px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.tab_accordion .accor_btn .tab_name {
    @media (min-width:768px) {
        width: calc(100% - 306px);
    }
}

.tab_accordion .accor_btn {
    @media (min-width:768px) {
        padding: 0;
    }
}

.mobile_tv {
    @media (min-width:1200px) {
        // display: none;
    }

    iframe {
        width: 100%;

        @media(max-width:475px) {
            height: 136px;
        }
    }
}

.back_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px 8px 10px;

    .bet_btn {
        padding: 2px 6px;
        font-size: 12px;
    }

    .back_btn {
        padding-right: 8px;
    }
}

.mob-BackLay {
    @media(max-width:475px) {
        padding: 0px;
    }

    .bet_table_row {
        @media(max-width:475px) {
            flex-flow: row;
            margin-top: 2px;
            // margin-bottom: 0;
            // border-bottom: 1px solid #e5e5e5;
        }

        &:last-child {
            border-bottom: 0px;
            margin-top: -2px;
            @media(max-width:475px) {
                border-bottom: 0px;
                margin-top: -2px;
            }
        }

        .nation_name {
            border-bottom: 1px solid #e5e5e5;
            // padding: 10px 0px 16px;
            padding: 7px 0px 8px;
            height: 40px;
            @media(max-width:767px) {
                border: 0;
            }
            @media(max-width:475px) {
                flex-flow: column;
                align-items: flex-start;
                padding: 4px 8px;
                border-bottom: 1px solid #e5e5e5;
                height: 46px;
                justify-content: center;
            }
        }

        .bl_box.back_2,
        .bl_box.back_1,
        .bl_box.lay_1,
        .bl_box.lay_2 {
            @media(max-width:475px) {
                display: none;
            }
        }

        // .bl_box{
        //     @media(max-width:475px){
        //         max-width: 52px;
        //         width: 100%;
        //         height: 48px;
        //         margin-right: 5px;
        //         border-right: 1px solid #d9d9d9;

        //     }
        // }
    }

    .bet_table_row {
        &:last-child {
            .nation_name {
                    border-bottom: 0;
            }
        }
    }
}

.rowHead {
    display: none;

    // @media(max-width:475px){
    //     display: flex;
    // }
    .backHead {
        @media(max-width:575px) {
            background: #a7d8fd;
        }
    }

    .LayHead {
        @media(max-width:575px) {
            background: #f9c9d4;
        }
    }

    .backHead,
    .LayHead {
        max-width: 52px;
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 14px;
        margin-right: 5px;

        @media(max-width:575px) {
            margin-right: 0;
            max-width: 52px;
            border-right: 1px solid #d9d9d9;
            font-size: 15px;
        }
    }

}

.mobile_tv {

    // @media(max-width:1199px){
    //     position: sticky;
    //     top: 136px;
    //     z-index: 2;
    // }
    iframe {
        height: 120px;

        @media(max-width:475px) {
            // height: 100px;
            height: auto;
        }
    }
}

.fancyBackLay {

    .LayHead,
    .backHead {
        @media(max-width:767.9px) {
            max-width: 66px !important;
        }

        @media(max-width:575px) {
            max-width: 52px !important;
        }
    }
}

.fancyTableCol {

    .nation_name {
        @media(max-width:767.9px) {
            width: calc(100% - 144px) !important;
        }

        @media(max-width:575px) {
            width: calc(100% - 140px) !important;
        }
    }

    .mobNone {
        @media(max-width:767.9px) {
            display: none;
        }
    }

    .bl_box {
        @media(max-width:767.9px) {
            width: 72px !important;
            border-right: 1px solid #ffffff !important;
        }

        @media(max-width:575px) {
            width: 52px !important;
        }
    }

    .bl_boxMain {
        @media(max-width:767.9px) {
            width: 144px;
        }

        @media(max-width:575px) {
            width: 140px !important;
        }

        .bl_box {
            @media(max-width:767.9px) {
                width: 72px !important;
                border-right: 1px solid #ffffff !important;
            }

            @media(max-width:575px) {
                width: 70px !important;
            }
        }
    }
}

.tvModal {
    display: none;
    position: fixed;
    // top: 50%;
    top: 62px;
    z-index: 9999;
    max-width: 356px;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;

    // transform: translate(0px, -50%);
    .modal-header {
        position: absolute;
        top: -10px;
        right: -10px;
        z-index: 3;
        background-color: #15386d;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;

        @media(max-width:475px) {
            top: -18px;
            right: -7px;
        }

        button.close {
            padding: 0 0 3px;
            margin: 0;
            color: #fff;
            opacity: 1;
            font-weight: 300;
        }
    }

    .modal-body {
        box-shadow: 0px 0px 9px #0101013d;
        padding: 0;

        // @media(max-width:475px){
        //     padding: .6rem;
        // }
        .mobile_tv {
            min-width: 270px;
            min-height: 200px;

            @media(max-width:475px) {
                min-width: 100%;
                min-height: auto;
            }
        }
    }

    @media(max-width:475px) {
        // max-width: 100%;
        max-width: 260px;
    }
}



// new css
.match_bx {
    background: #f5f5f5;
    margin-bottom: 15px;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, .2) 0 2px 8px 0;
    margin-top: 8px;
    .stikyCont{
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        .tab-pane.px-2{
            padding:0 !important ;
        }
    }
}

.match_head {
    background-color: #ffcb2f;
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: rgba(72, 72, 72, 0.7);

    .upper_row {
        display: flex;
    }

    .market_assets {
        margin-left: auto;
        padding-right: 10px;
        padding-top: 6px;

        ul {
            gap: 8px;
            li{
                .nav-link{
                    svg{
                        width: 26px;
                        height: 26px;
                    }
                }
                .ringBtn, .nav-link{
                    width: 26px;
                    height: 26px;
                }
                .ringBtn{
                    // width: 20px;
                    // height: 20px;
                    border-radius: 20px;
                    background-color: #7f7533;
                    border: 0;
                    padding: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    i{
                        font-size: 14px;
                        color: #ffcb2f;
                    }
                    .fa-volume-mute{
                        display: none;
                    }
                    &.mute{
                        .fa-volume-mute{
                            display: block;
                        }
                        .fa-volume-up{
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .series_name {
        padding-left: 25px;
        @media screen and (max-width: 475px) {
            padding-left: 10px;
        }

        h6 {
            background: #fef7b1;
            padding: 4px 8px 4px;
            margin-bottom: 0;
            font-size: 12px;
            font-weight: 500;
            box-shadow: rgba(244, 244, 244, 0.16) 0 2px 5px, rgba(128, 128, 128, 0.23) 0 2px 5px;
            border-radius: 14px 0 14px 14px;
            position: relative;
            top: -6px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 32px;

            &::before {
                content: "";
                position: absolute;
                height: 6px;
                width: 6px;
                right: -6px;
                top: 0;
                background-color: #fef7b1;
            }

            &:after {
                position: absolute;
                content: "";
                height: 6px;
                width: 8px;
                right: -8px;
                top: 0;
                border-radius: 8px 8px 0 0;
                background-color: #d1d1d1;
            }
        }
    }

    .animate_bx {
        overflow: hidden;
        position: relative;
        width: 73px;
        height: 40px;
        left: 2px;
        top: -4px;
        margin: 0 5px;

        ul {
            list-style: none;
            animation: flip-1 6s cubic-bezier(.23, 1, .32, 1.2) infinite;
            padding: 0;

            li {
                color: #fff;
                font-size: 9px;
                font-weight: 700;
                padding: 0;
                height: 39px;
                margin-bottom: 20px !important;
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;

                &.times-n-date {
                    margin: 0;

                    .date-time {
                        position: relative;
                        display: block;
                        justify-content: center;
                        width: 65px;
                        height: 35px;
                        line-height: 1.5;
                        border-radius: 12px;
                        color: #fff;
                        text-align: center;
                        font-weight: 700;
                        box-shadow: rgba(0, 0, 0, .15) 0 1px 3px, rgba(0, 0, 0, .21) 0 2px 3px;
                        overflow: hidden;
                        .day-name {
                            background-color: #484848b3;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 1px 0px;
                        }
                        .date {
                            font-size: 9px;
                            white-space: nowrap;
                            text-align: center;
                            display: block;
                            font-weight: 600;
                            background-color: rgba(72, 72, 72, 0.7);
                            border-top-left-radius: 12px;
                            border-top-right-radius: 12px;
                            padding: 1px 0;
                        }

                        .time {

                            font-size: 14px;
                            white-space: nowrap;
                            text-align: center;
                            display: block;
                            font-weight: 600;
                            color: rgba(72, 72, 72, 0.7);
                            line-height: 20px;
                        }
                    }
                }
            }
        }
    }

    .event_name {
        .team_name {
            font-size: 18px;
            font-weight: 500;
            line-height: 17px;
            text-transform: uppercase;
            @media(max-width:575px){
                font-size: 16px;
            }
        }
    }

    .vs_img {
        width: 30px;
        height: 30px;
        margin: 0 20px;

        svg path {
            fill: rgba(72, 72, 72, 0.7);
        }
    }
}

@keyframes flip-1 {
    0% {
        margin-top: -90px
    }

    30% {
        margin-top: -60px
    }

    55% {
        margin-top: -60px
    }

    75% {
        margin-top: 0
    }

    99.99% {
        margin-top: 0
    }

    100% {
        margin-top: -90px
    }
}


.accordianods {
    ul.nav-pills {
        background-color: #ffcb2f;
        height: 30px;

        li {
            line-height: 30px;
            height: 30px;

            button {
                position: relative;
                font-size: 11px;
                font-weight: 500;
                color: #5c6060;
                padding: 0 8px;
                text-transform: uppercase;
                opacity: .8;
                background-color: transparent;
                border: 0;
                transition: background .8s;
                background-position: center;
                border-radius: 0;

                // border-bottom: 2px solid transparent;
                &:hover {
                    font-weight: 700;
                    opacity: 1;
                    // &:after{
                    //     content: '';
                    //     width: 100%;
                    //     height: 2px;
                    //     background-color: #202323;
                    //     position: absolute;
                    //     bottom: 0;
                    //     left: 0;
                    //     transition: .3s;
                    // }
                }

                &.active {
                    opacity: 1;
                    font-weight: 700;

                    // border-bottom: 2px solid #202323;
                    &:after {
                        content: '';
                        width: 100%;
                        height: 2px;
                        background-color: #202323;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        transition: .3s;
                    }
                }
            }
        }
    }
}



.bl_boxMain{
    .back {
        color: #106481;
    }
}
.bl_boxMain{
    .lay {
        color: #af4d52;
    }
}
.bl_boxMain{
    .back_1, .back_2, .lay_1, .lay_2 {
        color: #7e7e7e;
    }
}
