<div class="count-down-timer">
    <!-- <p>Countdown to {{ currentTime }}</p> -->
    <div class="wrapper">
        <div class="times">
            <div class="d-flex flex-column justify-content-center align-items-center mx-1"><p #days ></p><span class="disc">Days</span></div>
            <div class="d-flex flex-column justify-content-center align-items-center mx-1"><p #hours> </p><span class="disc">Hours</span></div>
            <div class="d-flex flex-column justify-content-center align-items-center mx-1"><p #minutes></p><span class="disc">Minutes</span></div>
            <div class="d-flex flex-column justify-content-center align-items-center mx-1"><p #seconds></p><span class="disc">Seconds</span></div>
        </div>
       
    </div>
</div>