@mixin scrollBar {
    &::-webkit-scrollbar {
        width: 3px;
    }

    &::-webkit-scrollbar-track {
        background: #E5E8ED;
    }

    &::-webkit-scrollbar-thumb {
        background: #ffcb2f;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #ffcb2f;
    }
}

main.main_wrap {
    .inner {
        position: relative;
        padding: 58px 0px 0;

        @media (min-width:992px) {
            padding: 58px 0 0;
        }

        @media (min-width:1200px) {
            padding: 106px 10px 0;
        }

        @media (min-width:1300px) {
            padding: 106px 10px 0;
        }

        .left_bar {
            position: fixed;
            width: 16vw;
            flex: 0 0 16vw;
            z-index: 10;
            bottom: 15px;
            flex-direction: column;
            left: 10px;
            top: 106px;
            display: flex;
            min-width: 250px;

            @media (min-width:1300px) {
                top: 106px;
            }
        }

        .center_sec {
            position: relative;
            width: 100%;
            max-width: calc(100% - 34vw);
            margin-left: 16vw;
            padding: 0 10px 15px;
            height: calc(100vh - 106px);
            overflow: auto;
            @include scrollBar;

            @media (max-width:1560px) {
                margin-left: 250px;
                max-width: calc(100% - 558px);
            }

            @media (max-width:1199.9px) {
                max-width: 100%;
                margin-left: 0;
                padding: 0;
                height: calc(100vh - 58px);
            }
        }

        .right_bar {
            // width: 18vw;
            width: 312px;
            // flex: 0 0 18vw;
            flex-direction: column;
            position: fixed;
            right: 10px;
            top: 106px;
            z-index: 10;
            bottom: 15px;
            display: flex;
            min-width: 280px;

            @media (min-width:1300px) {
                top: 106px;
            }
            .right_inner{
                #liveTv{
                    position: sticky;
                    top: 0px;
                    z-index: 3;
                }
            }
        }
    }
}

app-sidebar {
    margin: 0 -8px;
    display: block;
}

app-sidebar,
.right_bar .right_inner {
    height: calc(100vh - 104px);
    overflow: auto;
    @include scrollBar;
}

.news_area {
    position: relative;
    margin-bottom: 6px;

    @media (max-width:1199px) {
        margin: 0 -15px 1px;
    }

    @media (max-width:767px) {
        margin: 0 0px 1px;
    }

    p {
        color: #fff;
        font-size: 14px;
        margin-right: 60px;
        display: inline-flex;
        align-items: center;

        span.date {
            display: inline-block;
            background: rgba($color: #fff, $alpha: 0.4);
            padding: 2px 8px;
            border-radius: 2px;
            margin-right: 12px;
        }
    }

    marquee {
        background: #204878;
        height: 30px;
        display: flex;
        align-items: center;
        @media(max-width:1199px){
            background: #356195;
        }
        @media (min-width:1200px) {
            border-radius: 3px;
        }
    }

    span.icon {
        position: absolute;
        right: 0;
        top: 0;
        background: #204878;
        padding: 2px 6px;
        border-radius: 3px;
        @media(max-width:1199px){
            background: #356195;
        }
        img {
            width: 25px;
        }
    }
}

.live_games_design {
    .left_bar {
        display: none !important;
    }

    .right_bar {
        display: none !important;
    }

    .center_sec {
        max-width: calc(100% - 0px) !important;
        margin: 0px !important;
    }
}
.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #fff, $alpha: 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    svg{
        max-width:50px;
        height: 50px;
        width: 100%;
        // fill: #0fa810;
        // animation: 1s linear infinite app-loader_animateBall__67cEQ;
    }
}
@keyframes app-loader_animateBall__67cEQ {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}
.mobMarquee{
    font-size: 10px;
    font-weight: 600;
    color: #fff;
}

.scrollToTop {
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
    background: #d9bd2c;
    font-weight: 700;
    text-decoration: none;
    position: fixed;
    bottom: 30px;
    right: 40px;
    display: none;
    z-index: 999;
    color: #000;
    border-radius: 100px;
    -webkit-animation: puls 3s linear infinite;
    animation: puls 3s linear infinite;
    line-height: 30px;
    border: 0;
    &:focus-visible {
        outline: 0;
    }
    &.show {
        display: block;
    }

    @media (max-width: 767px) {
        left: 15px;
        bottom: 60px;
        z-index: 1;
    }
}

@-webkit-keyframes puls {
    0% {
        -webkit-box-shadow: 0 0 0 0 #000;
        box-shadow: 0 0 0 0 #000
    }

    40% {
        -webkit-box-shadow: 0 0 0 20px rgba(231, 75, 60, 0);
        box-shadow: 0 0 0 20px rgba(231, 75, 60, 0)
    }

    80% {
        -webkit-box-shadow: 0 0 0 20px rgba(231, 75, 60, 0);
        box-shadow: 0 0 0 20px rgba(231, 75, 60, 0)
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(231, 75, 60, 0);
        box-shadow: 0 0 0 0 rgba(231, 75, 60, 0)
    }
}

@keyframes puls {
    0% {
        -webkit-box-shadow: 0 0 0 0 #000;
        box-shadow: 0 0 0 0 #000
    }

    40% {
        -webkit-box-shadow: 0 0 0 20px rgba(231, 75, 60, 0);
        box-shadow: 0 0 0 20px rgba(231, 75, 60, 0)
    }

    80% {
        -webkit-box-shadow: 0 0 0 20px rgba(231, 75, 60, 0);
        box-shadow: 0 0 0 20px rgba(231, 75, 60, 0)
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(231, 75, 60, 0);
        box-shadow: 0 0 0 0 rgba(231, 75, 60, 0)
    }
}