<!-- <div class="back_bar d-lg-none">
  <a routerLink="/games" class="back_btn d-flex align-items-center">
    <svg class="svg-icon">
      <use href="/assets/icons/icons_defs.svg#svg_event-arrow"></use>
    </svg>
    <p class="pl-2" *ngIf="gameType=='casino'">Live Casino</p>
    <p class="pl-2" *ngIf="gameType=='table'">Table Casino</p>
  </a>
</div> -->
<div class="main_wrap">
  <div class="cstm_row full_wid_mid tab_ul">
    <ul class="nav nav-tabs d-flex overflow-auto flex-nowrap" *ngIf="gameType=='live-games'">
      <li class="border-right" *ngFor="let data of uISERVICE.casinoProvidersList;let i=index"
        (click)="getGameList(data.SystemId,i)"><a [ngClass]="{'active':data.status}" data-toggle="tab"
          href="#home">{{data.ProviderName}}</a></li>

    </ul>
    <div class="middle_area" *ngIf="gameType=='live-games'">

      <div class="mid_inner pt-3 tab-content">
        <div id="home" class="tab-pane fade in active show">
          <div class="row">
            <div class="col-6 col-md-3 " *ngFor="let games of casinoGamesList">
              <div class="img_area" routerLink="/live-games/{{games.PageCode}}/{{games.SystemId}}">
                <img [src]="games.ImagePath" alt="">
                <div class="game_name">
                  <p>{{games.GameName}}</p>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

    <div class="middle_area" *ngIf="gameType=='table'">
      <div class="tab_head tab_head_custom">
        <!-- <h1>Table Games</h1> -->
        <h1><div class="sports-icon poker"></div> Casino Games</h1>
      </div>
      <div class="mid_inner">
        <div class="row">

          <div class="col-6 col-md-3 " *ngFor="let games of gameList;let i=index">
            <div class="img_area" routerLink="/table-games/{{games.MarketId}}">
              <img [src]="games.ImagePath" alt="">
              <div class="game_name">
                <p>{{games.GameName}}</p>
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </div>
</div>