.center_inner {
    border: 1px solid rgba(0, 0, 0, .12);
    background-color: rgb(0 18 68);
    border-radius: 20px;
}

// .center_inner {
//     background: #fff;
//     box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
// }

.red {
    color: rgb(255, 30, 30);
}

.green {
    color: rgb(1, 191, 1);
}


.all_bets_modal {
    padding: 0px !important;

    @media (min-width:1200px) {
        padding-right: 30px !important;
    }

    .modal-dialog {
        margin-top: 123px;
    }

    .modal-header {
        padding: 5px 15px;

        h5 {
            font-size: 16px;
            margin: 0px;
        }
    }

    .modal-body {
        .table-responsive {
            overflow-y: auto;
            height: 350px;
        }
    }
}

#profitLossModel {
    .form-field {
        padding-bottom: 10px;

        select {
            max-width: 250px;
        }
    }
}

.customCheckBx {
    display: flex;
    flex-flow: row;

    input {
        height: 16px;
        width: 16px !important;
    }

    label {
        font-size: 12px;
    }
}

.prlsFilter {
    .form-field {
        &.customCheckBx {
            width: auto;
            flex: auto;
            margin-right: 10px;
            display: flex;
            align-items: center;
            margin: 0 0 12px;
            @media(max-width:475.98px){
                width: 50%;
            }

            input {
                width: 20px !important;
                height: 20px;
                margin: 0;
                    position: static;
            }

            label {
                font-size: 12px !important;
                font-weight: 600;
                color: #fff;
                margin: 0;
                padding-left: 8px;
            }
        }

        label {
            font-size: .8rem;
            color: #fff;
            font-weight: 400;
        }

        input,
        select {
            border: none;
            border-bottom: 1px solid #fff;
            border-radius: 0;
            outline: none;
            height: 3rem;
            width: 100%;
            background-color: transparent;
            font-size: 12px;
            font-weight: 600;
            color: #fff;
            option{
                color: #000;
            }
        }
    }

    .cstmSearch {
        background-color: #ebbd00 !important;
        color: #000 !important;
        font-size: 12px !important;
        font-weight: 600;
        text-align: center;
        letter-spacing: .5px;
        transition: background-color .2s ease-out;
        cursor: pointer;
        line-height: 36px;
        padding: 0 16px;
        text-transform: uppercase;
        border-radius: 2px;
        border: 0;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);

        &:hover {
            box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .14), 0 1px 7px 0 rgba(0, 0, 0, .12), 0 3px 1px -1px rgba(0, 0, 0, .2);
        }
    }

}

.tableSearch {
    display: flex;
    justify-content: flex-end;

    label {
        color: #fff;
        font-size: 12px;
        font-weight: 600;

        input,
        select {
            border: none;
            border-bottom: 1px solid #fff;
            border-radius: 0;
            font-size: 12px;
            font-weight: 600;
            background-color: transparent;
            border-radius: 0;
            margin-left: 2px;
            color: #fff;

            &:focus {
                border-bottom: 1px solid #ebbd00 !important;
                box-shadow: 0 1px 0 0 #ebbd00 !important;
            }

            &:focus-visible {
                outline: 0;
            }
        }
    }
}
input[type="date"]::-webkit-calendar-picker-indicator{
    filter: invert(1);
}
.pagination_filter {
    color: #fff;
    font-size: 12px;
    // padding-left: 15px;
    font-weight: 600;

    select {
        margin-left: 5px;
        color: #000;
        font-weight: 600;
    }
}

table {
    tr {
        th {
            white-space: nowrap;
        }

        td {
            a {
                color: #fff;
                max-width: 100%;
                display: inline-block;
                width: 100%;
                white-space: pre-wrap;

                &:hover {
                    text-decoration: none;
                }
            }

            .label-success {
                background-color: #337ab7;
                padding: 0.2em 0.6em 0.3em;
                font-size: 75%;
                line-height: 1;
                color: #fff;
                white-space: nowrap;
                border-radius: 0.25em;
            }

            .label-info {
                background-color: #5bc0de;
                padding: 0.2em 0.6em 0.3em;
                font-size: 75%;
                line-height: 1;
                color: #fff;
                white-space: nowrap;
                border-radius: 0.25em;
            }
        }
    }
}