.bet_slip {
    position: relative;
}

.betslip_btm {
    padding: 0 15px 5px;
    border-bottom: 0;
    margin-left: -5px;
    margin-right: -5px;
    position: relative;

    @media (min-width:768px) {
        margin-bottom: 4px;
    }

    &.back {
        // background: #bfd4e3;
        background-image: linear-gradient(180deg, #bbe1ee, rgb(242 242 242 / 40%));
        border-top: 3px solid #bbe1ee;
        .keyboard{
            ul{
                li{
                    button{
                        border-bottom: 3px solid #bbe1ee;
                        &:hover{
                            background-color: #bbe1ee !important;
                        }
                        &.clear-btn{
                            &:hover{
                                background-color: #d9534f !important;
                                color: #fff !important;
                            }
                        }
                    }
                }
            }
        }
    }

    &.lay {
        // background: #e7c6d3;
        background-image: linear-gradient(180deg, #f6c5c8, rgb(242 242 242 / 40%));
        border-top: 3px solid #f6c5c8;
        .keyboard{
            ul{
                li{
                    button{
                        border-bottom: 3px solid #f6c5c8;
                        &:hover{
                            background-color: #f6c5c8 !important;
                        }
                        &.clear-btn{
                            &:hover{
                                background-color: #d9534f !important;
                                color: #fff !important;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width:991px) {
        flex-wrap: wrap;
    }

    @media (max-width:767px) {
        padding: 0 10px 5px;
        margin: 0;
    }

    .bet-input-box {
        input {
            max-width: 70px;
            height: 36px;
            border-radius: 0;
            border: none;
            background: #fff;
            color: #204878;
            text-align: center;
            font-size: 14px;

            &:focus {
                box-shadow: none;
            }
        }
    }

    .left {
        display: none;
        justify-content: flex-end;
        align-items: center;
        padding: 5px 13px;
        background: #72BBEF;
        margin: 0 -10px 0;
        display: flex;
        @media(max-width:575.9px){
            flex-flow: column-reverse;
        }
        .odd-info{
            @media(max-width:575.9px){
                width: 100%;
                text-align: right;
                margin-bottom: 4px;
            }
        }
        .odsInput {
            display: flex;
            gap: 10px;
            @media(max-width:575.9px){
                width: 100%;
                display: flex;
                justify-content: space-between;
                gap: 10px;
            }
            .team_name{
                @media(max-width:575.9px){
                    max-width: 220px;
                }
            }
            .spin {
                display: flex;
                flex-wrap: nowrap;
                max-width: 145px;
                @media(max-width:575.9px){
                    max-width: 220px;
                }

                button.btn {
                    padding: 5px 5px;
                    height: 30px;
                    min-height: 30px;
                    line-height: 15px;
                    width: 30px;
                    min-width: 30px;
                    color: #999999;
                    background-color: #dadada;
                    border: none;
                    border-radius: 3px;

                    &:focus {
                        box-shadow: none;
                    }

                    &.dec {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }

                    &.inc {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }

                input {
                    position: relative;
                    background-color: #fff;
                    border: none;
                    color: #5c6060;
                    font-weight: 600;
                    font-size: 14px;
                    padding: 0 5px;
                    box-shadow: none;
                    height: 30px;
                    width: 100%;
                    max-width: 75px;
                    @media(max-width:575.9px){
                        max-width: 100%;
                    }
                }
            }
        }

        @media (min-width:768px) {
            display: flex;
            margin: 0 -15px 0;
            padding: 5px;
        }

        .profit {
            span {
                // color: rgb(0, 100, 0);
                font-weight: 600;
                font-size: 14px;
                &.green{
                    color: rgb(0, 100, 0);
                }
                &.red{
                    color: rgb(252, 64, 51);
                }
            }

        }
    }

    .mobile_content {
        margin: 0 -10px;
        padding: 10px 13px;

        .profit {
            font-weight: 600;
            padding: 0;
            color: rgba(0, 0, 0, 0.75);

            span {
                color: rgb(0, 80, 0);
            }
        }

        .team_name {
            p {
                font-weight: 600;
            }

            .minmax {
                display: block;
            }
        }

        .amount_bar {
            p {
                font-weight: 600;
            }
        }
    }

    &.back {
        .left{
            @media(max-width:575.9px){
                flex-flow: column-reverse;
            }
        }
        .left,
        .mobile_content {
            // background: #a7d8fd;
            background: transparent;
        }
    }

    &.lay {

        .left,
        .mobile_content {
            background: #f9c9d4;
        }
    }
}

.amount_bar {
    position: relative;

    @media (min-width:768px) {
        padding: 0 0 0 15px;
    }

    @media (max-width:991px) {
        display: flex;
        flex-direction: column-reverse;
    }

    @media (max-width:767px) {
        flex-direction: row;
    }

    input {
        width: 100%;
        max-width: 125px;
        height: 28px;
        border-radius: 3px;
        border: none;
        background: #fff;
        color: #204878;
        font-size: 14px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
}

.profit {
    padding-bottom: 10px;

    p {
        font-size: 14px;
        font-weight: 700;

        span {
            font-weight: 400;

            @media (max-width:567px) {
                display: block;
            }
        }
    }
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
    padding-top: 5px;

    @media (max-width:991px) {
        flex: 0 0 100%;
        max-width: 100%;
        padding-top: 15px;
        flex-wrap: wrap;
        align-items: center;
    }

    @media (max-width:767px) {
        padding-top: 0;
        padding-top: 0;
        max-width: inherit;
        display: block;
    }

    ul.number_key {
        padding-bottom: 0;

        @media (max-width:767px) {
            margin: 0;
            padding-bottom: 10px;
            padding-top: 5px;
            margin: 0 -10px;
            width: auto;
            border-top: 1px solid #bdbdbd;

            li {
                flex: 0 0 16.66%;
                max-width: 16.66%;
                padding: 0;
                border-bottom: 0.5px solid #bdbdbd;
                border-right: 1px solid #bdbdbd;

                &:nth-child(6),
                &:last-child {
                    border-right: 0;
                }

                button {
                    border-radius: 0 !important;
                    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgb(233 233 233) 50%, rgba(255, 255, 255, 1) 100%) !important;
                    color: #204878 !important;
                    padding: 8px 10px !important;
                }

                .btn-danger {
                    width: 100%;
                    border: none;
                    border-radius: 3px;
                    padding: 4px 12px;
                    font-size: 14px;
                }
            }
        }
    }

    ul {
        display: flex;
        list-style: none;
        padding-bottom: 10px;
        flex-wrap: wrap;

        @media (max-width:991px) {
            flex-wrap: wrap;
            padding-top: 10px;
            justify-content: center;
        }

        @media (max-width:767px) {
            order: 1;
            width: 100%;
            padding-top: 0;
            padding-bottom: 0;
        }

        li {
            padding: 0 0px;

            &:last-child {
                @media(min-width:767px) {
                    padding-right: 0;
                }
            }

            // @media (min-width:1300px) {
            //     padding: 0 0px;
            // }

            @media (max-width:767px) {
                flex: 0 0 25%;
                max-width: 25%;
                padding: 6px 3px 0;
            }

            button.btn-primary {
                background-color: #dadada;
                border: none;
                padding: 4px 12px;
                margin: 3px;
                font-size: 12px;
                font-weight: 700;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                text-transform: uppercase;
                border-radius: 4px;
                min-width: 40px;
                line-height: 1.3;
                &.clear-btn{
                    text-transform: capitalize;
                    border-bottom: 3px solid #d9534f !important;
                    &:hover{
                        background-color: #d9534f !important;
                    }
                }

                @media (max-width:767px) {
                    width: 100%;
                }
            }
        }
    }

    .bet_btn {
        @media (max-width:991px) {
            align-self: flex-end;
            padding-left: 15px;
            justify-content: space-between;
        }

        @media (max-width:767px) {
            order: 3;
            width: 100%;
            display: flex;
            padding: 0;
        }

        button {
            border: none;
            border-radius: 3px;
            font-size: 14px;
            padding: 4px 12px;

            @media (max-width:767px) {
                width: 50%;
            }
        }
    }
}

.bet-table-row-header-mobile {
    @media (max-width:1024px) {
        display: flex;
        align-items: center;
        background-color: #2E3439;
        padding: 4px;
    }
}

.bet-input-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    button {
        color: #fff;
        height: 36px;
        width: 30px;
        border: 0;
        font-size: 14px;

        @media (min-width:1300px) {
            width: 40px;
        }

        &.btn-minus {
            background: #204878;
            border-radius: 3px 0 0 3px;
        }

        &.btn-plus {
            background: #204878;
            border-radius: 0 3px 3px 0;
        }
    }
}

.info {
    font-weight: 600;
    display: flex;

    p {
        &:first-child {
            padding-right: 10px;
        }
    }

    .profit {
        color: rgb(0, 80, 0);
    }
}

.exp {
    color: rgb(255, 22, 22);
}

.minmax {
    font-weight: 600;
    display: none;

    @media (min-width:768px) {
        position: absolute;
        left: 10px;
        top: 10px;
        display: block;
    }
}

.betslip_loader {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    background: rgb(0, 0, 0);
    margin-left: -8px;
    margin-right: -6px;
    align-items: center;
    justify-content: center;
    text-align: center;
    // background-image: url('../../../assets/img/lining.png');
    opacity: 0.8;
    z-index: 99;

    button {
        color: #fff;
        opacity: 1;
        display: flex;
        align-items: center;
        width: 100%;
        font-size: 16px;
        height: 100%;
        justify-content: center;
        svg{
            width: 50px;
            height: 50px;
            margin: 0 !important;
        }
        // .spinner-border {
        //     width: 1.6rem;
        //     height: 1.6rem;
        //     border: 0.20em solid currentColor;
        //     border-right-color: transparent;
        //     border-radius: 50%;
        // }
    }

    &.loader_show {
        display: flex;
    }

    // img {
    //     width: 75px;
    // }
}

.team_name {

    @media (min-width:768px) {
        padding-left: 15px;
    }

    h6 {
        font-weight: 700;
        font-size: 14px;
        padding-bottom: 8px;

        @media (min-width:768px) {
            padding-bottom: 0;
        }

        .bet_rate {
            background: #204878;
            color: #fff;
            border-radius: 8px;
            padding: 3px 8px;
            font-size: 12px;

            @media (max-width:767px) {
                margin-left: 5px;
            }
        }
    }
}

.input_area {
    label {
        font-weight: 600;
    }
}

.bet_input_bx {
    position: relative;
    overflow: hidden;

    input {
        background: transparent;
        position: relative;
        z-index: 99;
    }

    &:before {
        content: '';
        position: absolute;
        z-index: 1;
        left: -50%;
        top: -50%;
        width: 200%;
        height: 200%;
        background-repeat: no-repeat;
        background-size: 50% 50%, 50% 50%;
        background-position: 0 0, 100% 0, 100% 100%, 0 100%;
        animation-name: rotateborder;
        animation-duration: 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        background-color: #204878;
        background-image: linear-gradient(#204878, #204878), linear-gradient(#204878, #204878), linear-gradient(#204878, #204878), linear-gradient(#204878, #204878);
    }

    &:after {
        content: '';
        position: absolute;
        top: 1px;
        left: 1px;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        background: #fff;
        z-index: 11;
    }
}

@keyframes rotateborder {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

.mobOrder {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    @media(max-width:767px) {
        flex-flow: column-reverse;
    }

    .bet_btn {
        @media(max-width:767px) {
            margin-top: 4px;
        }

        button {
            @media(max-width:1210px) {
                padding: 4px 8px;
            }
        }
    }
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.bid-rate{
    padding: 0 5px;
    &.betslip-button{
        text-align: right;
        button.countBtn{
            border: none;
            border-bottom: 3px solid #bbe1ee;
            display: inline-block;
            color: #7e7e7e;
            background-color: #dadada;
            padding: 4px 10px;
            margin: 3px;
            font-size: 12px;
            font-weight: 700;
            border-radius: 0;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            text-transform: uppercase;
            border-radius: 4px;
            min-width: 40px;
            line-height: 1.3;
            &:hover{
                background-color: #bbe1ee;
                -webkit-transition: all ease-in .2s;
                transition: all ease-in .2s;
                outline: 0;
                color: #000;
            }
            &.clear-btn{
                background-color: #dadada;
                text-transform: capitalize;
                border-bottom: 3px solid #d9534f !important;
                &:hover{
                    background-color: #d9534f !important;
                    color: #fff;
                }
            }
        }
        button.btn{
            border-radius: 30px;
            letter-spacing: 0;
            font-weight: 600;
            line-height: 1.8;
            padding: 5px 25px!important;
            width: auto;
            height: auto;
            cursor: pointer;
            margin: 5px 0 5px 5px;
            font-size: 13px;
            text-transform: capitalize;
            // float: right;
            -webkit-box-shadow: rgba(0,0,0,.25) 0 0.0625em 0.0625em, rgba(0,0,0,.25) 0 0.125em 0.5em, rgba(255,255,255,.1) 0 0 0 1px inset;
            box-shadow: rgba(0,0,0,.25) 0 0.0625em 0.0625em, rgba(0,0,0,.25) 0 0.125em 0.5em, rgba(255,255,255,.1) 0 0 0 1px inset;
            -webkit-transition: all .2s;
            transition: all .2s;
            position: relative;
            opacity: .8;
            &:hover{
                span.animate-btn {
                    z-index: 1;
                    position: relative;
                    color: #fff;
                }
            }
        }
        button.btn-bet{
            color: #fff !important;
            background-color: #00b181;
            &:hover{
                &:after{
                    right: 0;
                    background-color: #025f18;
                    -webkit-transition: all ease-in .4s;
                    transition: all ease-in .4s;
                }
            }
            &:before{
                content: '';
                -webkit-transition: all .5s ease-out;
                transition: all .5s ease-out;
                position: absolute;
                content: attr(data-effect);
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                top: 0;
                left: 0;
            }
            &:after{
                content: '';
                opacity: 1;
                top: 0;
                left: 0;
                right: 100%;
                bottom: 0;
                color: transparent;
                position: absolute;
                z-index: 0;
                border-radius: 30px;
            }
        }
        button.btn-cancel{
            color: #d9534f;
            background-color: #dadada;
            box-shadow: none;
            &:hover{
                &:after{
                    right: 0;
                    background-color: #d9534f;
                    -webkit-transition: all ease-in .4s;
                    transition: all ease-in .4s;
                }
            }
            &:before{
                content: '';
                -webkit-transition: all .5s ease-out;
                transition: all .5s ease-out;
                position: absolute;
                content: attr(data-effect);
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                top: 0;
                left: 0;
            }
            &:after{
                content: '';
                opacity: 1;
                top: 0;
                left: 0;
                right: 100%;
                bottom: 0;
                color: transparent;
                z-index: 0;
                border-radius: 30px;
                position: absolute;
            }
        }
    }
}