html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 1.2;
  // background: #E5E8ED;
  background: #f5f5f5;
  background-image: url('./assets/img/background-img-light.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #5c6060;
}

.container {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

.cstm_drop {
  ul {
    list-style: none;
    display: none;
  }
}

input {
  border-radius: 0;
}

button.btn {
  &:focus {
    box-shadow: none;
    outline: none;
  }
}

@mixin scrollBarnew {
  &::-webkit-scrollbar {
    width: 0px;
  }

  &::-webkit-scrollbar-track {
    background: #E5E8ED;
  }

  &::-webkit-scrollbar-thumb {
    background: #ffcb2f;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #ffcb2f;
  }
}

.btn-primary {
  color: #5c6060 !important;
  background-color: #ffcb2f;
  border-color: #ffcb2f;
  font-weight: 600;
  // background: #0fa810;
  // border-color: #0fa810;

  // &:focus,
  // &:active {
  //   background: #0b7a0b !important;
  //   box-shadow: none;
  //   border-color: #0b7a0b !important;
  // }

  &:hover {
    background: #ffcb2f !important;
    box-shadow: none;
    color: #5c6060;
    border-color: #ffcb2f;
  }
}

.btnPrimaryCstm {
  background: #ffcb2f;
  border-color: #ffcb2f;
  padding: 5px;
  width: 100%;
  // height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5c6060;
  line-height: 2.1;
  font-size: 14px;
  box-shadow: none;
  font-weight: 700;
  border-radius: 8px;
  text-transform: uppercase;
  text-align: center;
  overflow: inherit;
  transition: all .2s;
  position: relative;
  border: 0;

  &:before {
    content: '';
    opacity: 1;
    top: 0;
    left: 0;
    right: 100%;
    bottom: 0;
    color: transparent;
    z-index: 0;
    border-radius: 6px;
    position: absolute;
    content: attr(data-effect);
    backface-visibility: hidden;
    transition: all .2s;
  }

  &:hover {
    color: #ffcb2f !important;
    transition: all .3s;

    &:before {
      right: 0;
      background: #202323;
      -webkit-transition: all .3s;
      transition: all .3s;
      height: 100%;
    }
  }

  .animate-btn {
    position: relative;
    z-index: 1;
  }
}

.tab_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  h1 {
    font-size: 30px;
    color: #fff;
  }

  p {
    color: #fff;
  }

  &.small {
    padding: 0 0 10px;

    h4 {
      font-size: 14px;
      color: #fff;
    }
  }
}

.table {
  thead {
    th {
      padding: 8px;
      border-bottom: 1px solid rgba(0, 0, 0, .12);
      border-top: 0;
      color: #5c6060;
      font-weight: 700;
    }
  }

  tbody {
    tr {
      td {
        small {
          position: relative;
          top: 4px;
        }
      }
    }
  }

  .right {
    float: right;

    .in-play {
      color: #1d7f1e;
      display: flex;
      align-items: center;

      i {
        font-size: 14px;
        padding-right: 3px;
        position: relative;
        top: 1px;
      }
    }
  }

  tbody {
    // background: #fff;

    tr {
      transition: background-color ease 0.5s;
      background-color: rgb(255 255 255 / 40%);

      &:nth-of-type(odd) {
        background-color: rgb(255 255 255 / 40%);
      }

      // &:hover {
      //   background: #eee;
      //   transition: background-color ease 0.5s;
      // }
    }

    td {
      padding: 7px 8px;
      line-height: 1.42857143;
      vertical-align: middle;
      font-size: 12px;
      font-weight: 600;
      color: #999999;

      .fav_icon {
        width: 22px;
        font-size: 14px;
        color: #e4c41e;
      }

      &.rate_btn {
        text-align: center;
        width: 60px;
        height: 46px;
        cursor: pointer;
        font-weight: 700;
        background: #fff;

        @media (min-width: 1266px) {
          width: 60px;
        }

        &:hover {
          background: #fff;
        }
      }

      &.back {
        background-color: #a7d8fd;
        text-align: center;
        width: 60px;
        height: 46px;
        cursor: pointer;
        font-weight: 700;

        @media (min-width: 1266px) {
          width: 60px;
        }

        &.blink {
          animation: blinkingbgBack 2s infinite;
        }

        @keyframes blinkingbgBack {
          0% {
            background: #a7d8fd;
          }

          30% {
            background: #a7d8fd;
          }

          60% {
            background: #a7d8fd;
          }

          99% {
            background: #fff;
          }

          100% {
            background: #a7d8fd;
          }
        }
      }

      &.back_2 {
        background-color: #c8e6fd;

        &.blink {
          animation: blinkingbgBack2 2.3s infinite;
        }

        @keyframes blinkingbgBack2 {
          0% {
            background: #c8e6fd;
          }

          30% {
            background: #c8e6fd;
          }

          60% {
            background: #c8e6fd;
          }

          99% {
            background: #fff;
          }

          100% {
            background: #c8e6fd;
          }
        }
      }

      &.back_1 {
        background-color: #e3f3ff;

        &.blink {
          animation: blinkingbgBack1 2.6s infinite;
        }

        @keyframes blinkingbgBack1 {
          0% {
            background: #e3f3ff;
          }

          30% {
            background: #e3f3ff;
          }

          60% {
            background: #e3f3ff;
          }

          99% {
            background: #fff;
          }

          100% {
            background: #e3f3ff;
          }
        }
      }

      &.lay {
        background-color: #f9c9d4;
        text-align: center;
        width: 60px;
        height: 46px;
        cursor: pointer;
        font-weight: 700;

        @media (min-width: 1266px) {
          width: 60px;
        }

        &.blink {
          animation: blinkingbgLay 2s infinite;
        }

        @keyframes blinkingbgLay {
          0% {
            background: #f9c9d4;
          }

          30% {
            background: #f9c9d4;
          }

          60% {
            background: #f9c9d4;
          }

          99% {
            background: #fff;
          }

          100% {
            background: #f9c9d4;
          }
        }
      }

      &.lay_1 {
        background-color: #ffe3ea;

        &.blink {
          animation: blinkingbgLay1 2.3s infinite;
        }

        @keyframes blinkingbgLay1 {
          0% {
            background: #ffe3ea;
          }

          30% {
            background: #ffe3ea;
          }

          60% {
            background: #ffe3ea;
          }

          99% {
            background: #fff;
          }

          100% {
            background: #ffe3ea;
          }
        }
      }

      &.lay_2 {
        background-color: #fff7f9;

        &.blink {
          animation: blinkingbgLay1 2.6s infinite;
        }

        @keyframes blinkingbgLay1 {
          0% {
            background: #fff7f9;
          }

          30% {
            background: #fff7f9;
          }

          60% {
            background: #fff7f9;
          }

          99% {
            background: #fff;
          }

          100% {
            background: #fff7f9;
          }
        }
      }

      a {
        color: #22a357;
        cursor: pointer;
        font-weight: 600;
        max-width: 235px;
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        top: 2px;

        &:hover {
          text-decoration: underline;
          color: #22a357;
        }
      }
    }

    tr.disabled {

      td.lay,
      td.back {
        opacity: 0.5;
        cursor: not-allowed;
      }

      td {
        &.lay {
          &:hover {
            background: #f9c9d4;
          }
        }

        &.back {
          &:hover {
            background: #a7d8fd;
          }
        }
      }
    }
  }
}

.btn {
  font-size: 12px;
}

.tab_accordion {
  // &:first-child {
  //   margin-bottom: 12px;
  // }

  .accor_btn {
    width: 100%;
    background: #fff;
    border-radius: 0;
    display: flex;
    align-items: center;
    // height: 41px;
    padding: 12px 15px 6px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    color: #273a47;
    border-bottom: 2px solid #ffcb2f;
    // @media (min-width:1200px) {
    //   border-radius: 3px;
    // }

    // &:hover {
    //   color: #fff;
    // }
    @media(max-width:575px) {
      padding: 12px 8px 6px;
    }

    span.txt {
      position: relative;
      display: inline-block;
      color: rgb(39 58 71 / 80%);
      // &:before {
      //   content: '';
      //   width: 100%;
      //   height: 5px;
      //   background: #0fa810;
      //   position: absolute;
      //   top: -13px;
      //   left: 0;
      // }
    }

    span.live_tag {
      padding: 0 10px;
      font-size: 12px;
      line-height: 23px;
      height: 22px;
      border-radius: 10px;
      margin: -1px 0 0 10px;
      background: #fe5151;
    }

    svg {
      fill: #5C605F;
      width: 14px;
      height: 14px;
      transition: all ease 0.4s;
    }

    &[aria-expanded="false"] {
      svg {
        transform: rotate(180deg);
        transition: all ease 0.4s;
      }
    }
  }
}

.filter_bar {
  display: flex;
  align-items: center;
}

.page_title {
  h3 {
    display: block;
    line-height: 32px;
    margin-bottom: 8px;
    margin-top: 0;
    font-weight: 600;
    padding-left: 15px;
    padding-top: 5px;
    font-size: 18px;
    position: relative;
    width: fit-content;
    color: #5c6060;

    &:after {
      content: "";
      position: absolute;
      width: 95%;
      bottom: 2px;
      left: 10px;
      border-bottom: 2px solid #ffcb2f;
    }
  }

  // h3 {
  //   font-size: 16px;
  // }
}

.pagination_filter {
  select {
    max-width: 52px;
    padding: 0 5px;
    height: 26px;
    font-size: 12px;
    color: #5c6060;
    font-weight: 600;
    background-color: transparent;
  }

  .pagination {
    a {
      color: #204878;
    }

    li.active {
      span {
        background: #204878;
        border-color: #204878;
      }
    }
  }
}

td {
  .red {
    color: red;
  }

  .green {
    color: green;
  }
}

.casino_result {
  .title {
    padding: 10px 15px;
    border-radius: 20px;
    margin: 0 0 10px;
    background-color: #f5f5f5;
    box-shadow: rgb(99 99 99 / 20%) 0 2px 8px 0;

    h4 {
      font-size: 16px;
      font-weight: 600;
      color: #5c6060;
    }

    a {
      color: #fff;
    }
  }
}

.last_result_list {
  li {
    background: #204878;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-right: 10px;
    font-weight: 600;

    &:last-child {
      margin: 0;
    }
  }
}

.white_bg {
  background: #fff;
}

.inner_page_title {
  padding: 15px 10px;

  @media (min-width:1200px) {
    padding: 0 0 15px;
  }

  h3 {
    font-size: 16px;
    font-weight: 500;
    position: relative;
    display: inline-block;

    &:after {
      content: '';
      width: 75%;
      height: 3px;
      position: absolute;
      bottom: -6px;
      left: 0;
      background: #0fa810;
    }
  }
}

// set-bet css
// set-bet css

$back: #78d3f2;
$back-hover: #67baf5;
$back1: #e9e9e9;
$back2: #e9e9e9;
$lay: #ffabaf;
$lay-hover: #edb2c0;
$lay1: #e9e9e9;
$lay2: #e9e9e9;
$back-title: #72BBEF80;
$lay-title: #F994BA80;
$box_width: 72px;
$m_box_width: 15%;

// @media (min-width:768px) {
//   $box_width: 72px;
// }

@mixin bet_box_w {
  width: $m_box_width;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 2%;

  @media (min-width:768px) {
    width: $box_width;
    margin-right: 2px;
  }

  &:last-child {
    margin-right: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.tab_accordion {
  // margin-bottom: 10px;

  .accor_btn {
    text-align: left;

    .btn {
      i {
        font-size: 14px;
        color: #5c6060;
      }
    }

    .tab_name {
      i {
        font-size: 10px;
        color: #00b181;
      }

      @media (min-width:768px) {
        padding: 6px 8px 6px;
        width: calc(100% - 142px);
      }

    }

    .bl_title {
      @include bet_box_w;
      height: 30px;
      font-weight: 400;
      cursor: default;

      @media (max-width:767.9px) {
        display: none;
      }

      &.back {
        background: $back-title;

        &:hover {
          background: $back-hover;
        }
      }

      &.lay {
        background: $lay-title;

        &:hover {
          background: $lay-hover;
        }
      }
    }
  }
}

.bet_table_row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 2px;

  &:last-child {
    margin-bottom: 0;
  }

  .nation_name {
    width: calc(100% - 148px);
    padding-right: 5px;

    @media (max-width:767px) {
      padding: 8px 0;
    }

    p {
      // font-weight: 500;
      // color: #204878;
      // font-size: 14px;
      margin: 0;
      font-weight: 600;
      font-size: 12px;
      color: #7e7e7e;
      padding-top: 2px;
      line-height: 1;

      @media(max-width:575px) {
        font-size: 12px;
        // overflow: hidden;
        // text-overflow: ellipsis;
        // white-space: nowrap;
        width: 100%;
      }

      @media (min-width:1440px) {
        font-size: 16px;
      }
    }

    .btm {
      span.profitloss {
        color: green;

        &.negative {
          color: red;
        }
      }
    }
  }


  .bl_box {
    @include bet_box_w;
    height: 38px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    // @media(max-width:575px) {
    //   border-radius: 0;
    //   margin-right: 2px !important;
    // }

    @media(max-width:475px) {
      max-width: 70px;
      width: 100%;
      height: 44px;
      margin-right: 2px;
    }

    &.single_betlock {
      position: relative;
      cursor: not-allowed;
      pointer-events: none;

      &:after {
        content: "";
        background-image: url('/assets/icons/lock.svg');
        background-size: 17px 17px;
        filter: invert(1);
        background-repeat: no-repeat;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-position: center;
        pointer-events: none;
        background-color: transparent !important;
        transform: scale(1) !important;
        animation: none !important;
      }

      &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: rgba($color: #000000, $alpha: 0.6);
        border-radius: 4px;
      }

      &.content-none {
        cursor: default;

        &:before,
        &:after {
          content: none;
        }
      }
    }

    .odds {
      font-size: 12px;
      font-weight: 600;

      // @media (min-width:575px) {
      //   font-size: 12px;
      //   font-weight: 600;
      // }

      // @media (min-width:400px) {
      //   font-size: 12px;
      // }

      // @media (min-width:768px) {
      //   font-size: 12px;
      // }
    }

    .size {
      font-size: 10px;
      font-weight: 400;

      @media (min-width:400px) {
        font-size: 10px;
      }

      @media (min-width:768px) {
        font-size: 10px;
      }
    }

    &.back {
      background: $back;

      // &:hover {
      //   background: $back-hover;
      // }
    }

    &.back_1 {
      background: $back1;
    }

    &.back_2 {
      background: $back2;
    }

    &.lay {
      background: $lay;

      // &:hover {
      //   background: $lay-hover;
      // }
    }

    &.lay_1 {
      background: $lay1;
    }

    &.lay_2 {
      background: $lay2;
    }

    &.fancy_bx {
      width: calc(#{$box_width} * 2);
      align-items: end;
      font-weight: 500;
      font-size: 10px;

      @media (max-width:767px) {
        display: none;
      }

      @media (min-width:768px) {
        margin-right: 4px;
      }
    }

    &.back,
    &.back_1,
    &.back_2 {
      &:after {
        // content: "";
        content: none;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 4px;
        background-color: #13c4135d;
        transform: scale(0, 0);
        animation: oddsup 4s ease-out;
        animation-iteration-count: infinite;
      }

      @keyframes oddsup {

        0% {
          transform: scale(1)
        }

        20% {
          transform: scale(0)
        }

        40% {
          transform: scale(0)
        }

        60% {
          transform: scale(1)
        }

        80% {
          transform: scale(0)
        }

        100% {
          transform: scale(0)
        }
      }
    }

    &.lay,
    &.lay_1,
    &.lay_2 {
      &:after {
        // content: "";
        content: none;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 4px;
        background-color: #13c41380;
        transform: scale(0, 0);
        animation: oddsup2 4s ease-out;
        animation-iteration-count: infinite;
      }

      @keyframes oddsup2 {

        0% {
          transform: scale(0)
        }

        20% {
          transform: scale(0)
        }

        40% {
          transform: scale(1)
        }

        60% {
          transform: scale(0)
        }

        80% {
          transform: scale(0)
        }

        100% {
          transform: scale(1)
        }
      }
    }
  }

  &.bet_locked {
    .bl_boxMain {
      display: flex;
      position: relative;

      &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        // background: rgba(0, 0, 0, 0.6);
        background: none repeat scroll 0 0 rgba(255, 255, 255, .8);
        border-radius: 0px;
        z-index: 1;
      }

      &:after {
        content: "Suspended";
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        pointer-events: none;
        animation: none;
        color: #888;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 14px;
        ;
      }

      @media(max-width:767.9px) {
        width: 100%;
        justify-content: space-between;
      }

      @media(max-width:474.9px) {
        justify-content: flex-end;
        width: 100%;
        max-width: 140px;
      }
    }

    .bl_box {
      position: relative;
      cursor: not-allowed;
      pointer-events: none;

      .odds {
        color: #7e7e7e;
      }

      .size {
        color: #7e7e7e;
        font-weight: 500;
      }

      // &:after {
      //   content: "";
      //   background-image: url('/assets/icons/lock.svg');
      //   background-size: 17px 17px;
      //   filter: invert(1);
      //   background-repeat: no-repeat;
      //   position: absolute;
      //   z-index: 1;
      //   width: 100%;
      //   height: 100%;
      //   left: 0;
      //   top: 0;
      //   background-position: center;
      //   pointer-events: none;
      //   background-color: transparent;
      //   transform: scale(1);
      //   animation: none;
      // }

      // &:before {
      //   content: '';
      //   width: 100%;
      //   height: 100%;
      //   position: absolute;
      //   left: 0;
      //   top: 0;
      //   background: rgba($color: #000000, $alpha: 0.6);
      //   border-radius: 0px;
      // }

      &.content-none {
        cursor: default;

        &:before,
        &:after {
          content: none;
        }
      }

    }

    .lay {

      .odds,
      .size {
        color: #af4d52;
      }
    }

    .back {

      .odds,
      .size {
        color: #106481;
      }
    }

    .back_2,
    .back_1 {

      .odds,
      .size {
        color: #7e7e7e;
      }
    }

    .lay_2,
    .lay_1 {

      .odds,
      .size {
        color: #7e7e7e;
      }
    }


  }
}

#fancyBets {
  .bet_table_row {
    .bl_box {
      // &:nth-child(2) {
      //   @media (max-width:767px) {
      //     display: none;
      //   }
      // }
      // &.bl_box.content-none.fancy_modalBox{
      //   @media (max-width:767px) {
      //   display: none;
      //   }
      // }

      &:nth-child(5) {
        @media (max-width:767px) {
          margin: 0;
        }
      }
    }

    @media (max-width:767px) {
      .nation_name {
        width: calc(100% - 49%);

        @media(max-width:475px) {
          width: calc(100% - 156px);
        }
      }
    }
  }
}

.inner_bet_table {
  // background: #fff;
  // box-shadow: 0 0 5px rgb(0 0 0 / 30%);
  // border-radius: 0 0 4px 4px;
  padding: 2px 5px;
  // @media(max-width:575px){
  //   background-color: #f2f2f2;
  // }

  &.fancy_bet_table {
    .bet_table_row {
      .nation_name {
        width: calc(100% - 300px) !important;
      }
    }
  }
}

.my_bets_table {
  padding: 0 10px 10px;

  .filter {
    .row {
      margin: 0 -8px;
    }

    [class*='col-'] {
      padding: 0 8px;
    }

    .form-select,
    .form-control {
      border-radius: 20px;
      color: #3d4f65;
      font-weight: 600;
      padding: 2px 6px;
      border: 1px solid #eee;
      outline: none;
      width: 150px;
      height: 24px;
      flex: 0 0 150px;
      font-size: 11.5px;
      font-weight: 500;
      background-color: hsla(0, 0%, 100%, .9);
      color: #5c6060;
    }

    button.btn-primary {
      background-color: #ffcb2f;
      box-shadow: 0 0 2px 0 #ffcb2f;
      border: 1px solid #ffcb2f;
      color: #273a47 !important;
      font-size: 12px;
      font-weight: 600;
      cursor: pointer;
      border-radius: 4px;
      padding: 2px 10px;
      margin-right: 3px;

      &:focus,
      &:focus-visible,
      &.active {
        box-shadow: none !important;
        outline: 0;
      }

      &:hover {
        color: #fff !important;
        border: 1px solid #202323;
        background-color: #202323 !important;
        box-shadow: 0 0 8px 0 #202323;
        border-radius: 4px;
        transition: all ease-in .3s;
      }

      // &:hover,
      // &:focus {
      //   color: #0fa810;
      //   background: #fff;
      // }
    }

    .form-inline {
      .main_form {
        .form-field {
          width: 100%;
          margin: 0 0 8px;

          label {
            font-weight: 600;
            text-transform: capitalize;
            justify-content: start;
            margin-bottom: 3px;
            margin-left: 5px;
          }

          input,
          select {
            width: 100%;
            border-radius: 4px;
          }
        }

        .form-field.customfield {
          display: flex;
          justify-content: space-between;

          @media (min-width:768px) {
            justify-content: flex-end;
          }

          button.btn {
            border-radius: 4px;
          }

          button.file_btn {
            padding: 5px 12px;
            margin: 0 5px;
            color: #fff;

            &:last-child {
              margin-right: 0;
            }
          }

          button.excel {
            background-color: black;
          }

          button.pdf {
            background-color: red;
          }
        }
      }
    }
  }

  .file_btn {
    font-size: 16px;
    padding: 5px 12px;
    margin: 0 5px;
    color: #fff;

    &:last-child {
      margin-right: 0;
    }
  }

  .excel {
    background-color: black;
  }

  .pdf {
    background-color: red;
  }
}

.inner.iframe_area_col {
  iframe {
    height: calc(100vh - 96px);

    @media (min-width:1300px) {
      height: calc(100vh - 140px);
    }
  }
}

.back_layclr {
  .back {
    background: #a7d8fd !important;
    td{
      color: #000;
    }
  }

  .lay {
    background: #f9c9d4 !important;
    td{
      color: #000;
    }
  }
}

.all_modal_design {
  .modal-header {
    background-color: #204878;

    h5 {
      color: #fff;
    }

    button.close {
      color: #fff;
      opacity: 1;
    }
  }

  .table-responsive {
    &::-webkit-scrollbar {
      width: 5px;
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #204878;
    }

    table {
      thead {
        tr {
          background: #e1e1e1;
        }
      }
    }
  }

  .modal_filter {
    margin-bottom: 10px;

    .form-field {
      label {
        font-weight: 600;
        text-transform: capitalize;
        justify-content: start;
        margin-bottom: 5px;
        margin-left: 5px;
      }

      .form-control {
        border-radius: 4px;
        color: #3d4f65;
        font-weight: 600;
        padding: 6px 10px;
        border: 1px solid #3d4f65;
        outline: none;
        width: 150px;
        height: 32px;
        flex: 0 0 150px;
        font-size: 12px;
        font-weight: 500;
      }

      button.btn {
        background: #0fa810;
        color: #ffffff;
        font-weight: 600;
        padding: 6px 15px;
        border: 1px solid #0fa810;
        outline: none;

        &:hover {
          background: #fff;
          color: #0fa810;
        }
      }
    }
  }
}

.pagination {
  ul {
    margin: 0;
    border: 0;
    display: flex;

    li {
      margin: 0;
      padding: 6px 6px !important;
      // background-color: #fff;
      // border: 1px solid #ced4da !important;
      color: #666 !important;
      font-size: 12px;
      font-weight: 600;
      // &:hover{
      //   background: #202323;
      //   color: #ffcb2f!important;
      //   -webkit-transition: all ease-in .3s;
      //   transition: all ease-in .3s;
      //   box-shadow: 0 0 2px 0 #202323;
      // }

      &:last-child {
        border-right: 0;
      }

      &.current {
        padding: 0.25em 0.65em !important;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 2px 0 #ffcb2f;
        font-weight: 600;
        border-radius: 6px;
        background: #ffcb2f;
        color: #273a47 !important;
        cursor: pointer;

        &:hover {
          background: #202323;
          color: #ffcb2f !important;
          -webkit-transition: all ease-in .3s;
          transition: all ease-in .3s;
          box-shadow: 0 0 2px 0 #202323;
        }
      }
    }
  }
}

.ngx-pagination .pagination-previous a::before,
.ngx-pagination .pagination-previous.disabled::before,
.ngx-pagination .pagination-next a::after,
.ngx-pagination .pagination-next.disabled::after {
  content: none !important;
}

.betslip_hide {
  display: none;
}

.betslip_hide.betSlip_show {
  display: block;
}

.modal {
  z-index: 999991;
}

.modal-backdrop {
  z-index: 99999;
}

#rulesModal {
  .modal-dialog {
    @media (max-width:567px) {
      .modal-content {
        border-radius: 0;
        border: none;
      }
    }
  }
}


.back_bar {
  background: #15386d;
  padding: 8px 10px;

  svg {
    width: 18px;
    height: 18px;
    fill: #fff;
  }

  .back_btn {
    color: #fff;

    p {
      font-size: 14px;
      font-weight: 500;
    }
  }
}




.cc-window.cc-banner.cc-type-info.cc-theme-block.cc-bottom {
  background: #ffffff !important;
  border-top: 1px solid #204878;
  padding: 10px 15px;
  z-index: 999;
}

.cc-compliance .cc-btn.cc-dismiss {
  background: #204878;
  color: #fff;
  border: unset;
  text-decoration: none;
  border-radius: 20px;
  min-width: unset !important;
  padding: 6px 30px;
  font-size: 14px;
}

.cc-message {
  color: #204878;
  font-size: 14px;
  font-weight: 600;
}

.cc-message a.cc-link {
  color: #0fa810;
  text-decoration: none;
}

.cc-window {
  background: #fff;
}

.modal-open {
  padding-right: 0 !important;
}

.blinkTxt {
  animation: blinker 1s linear infinite;

  svg {
    animation: blinker 1s linear infinite;
  }

  @keyframes blinker {
    50% {
      color: rgb(255, 0, 0);
      fill: rgb(255, 0, 0);
    }
  }
}

.bl_boxMain {
  display: flex;
  position: relative;
  height: 38px;

  @media(max-width:767.9px) {
    width: 100%;
    justify-content: space-between;
  }

  @media(max-width:474.9px) {
    justify-content: flex-end;
    width: 100%;
    max-width: 140px;
    height: 44px;
  }
}

.mob-noneCol {
  @media(max-width:767px) {
    display: none !important;
  }
}

.ellipscont {
  p {
    // @media(max-width:767px){
    // white-space: nowrap;

    // }
    &:last-child {
      // @media(max-width:767px){
      // overflow: hidden;
      // text-overflow: ellipsis;
      // }
    }
  }

}

.mob-noneCont {
  @media(max-width:575px) {
    display: none !important;
  }
}

// .live_blinking p{ 
//   -webkit-animation: liveblinking 1s ease infinite;
//     animation: liveblinking 1s ease infinite;
//     color: #204878;
// }
// @keyframes liveblinking {
//     0% {
//       color: #e8d509;
//     }

//     50% {
//         color: #204878
//     }

//     100% {
//         color: #e8d509
//     }
//   }


//   .live_blinking svg{ 
//     -webkit-animation: liveblinkingsvg 1s ease infinite;
//       animation: liveblinkingsvg 1s ease infinite;
//       fill: #204878;
//   }
//   @keyframes liveblinkingsvg {
//       0% {
//         fill: #e8d509;
//       }

//       50% {
//           fill: #204878
//       }

//       100% {
//           fill: #e8d509
//       }
//     }



//   .inplayBlink{
//     -webkit-animation: sparkBack 2s ease infinite;
//     animation: sparkBack 2s ease infinite;
//   }
// @keyframes sparkBack {
//   0% {
//       background-color: #f4f4f4;
//   }

//   50% {
//       background-color: #a5ffa5;
//   }

//   100% {
//       background-color: #f4f4f4;
//       color: #1e1e1e
//   }
// }
// .lay{
//   &.blinking {
//     -webkit-animation: sparkLay .5s ease;
//     animation: sparkLay .5s ease;
//     color: #212529 !important;
//   }
// }
// @-webkit-keyframes sparkLay {
//   0% {
//       background-color: #faa9ba;
//       color: #1e1e1e
//   }

//   50% {
//       background-color: #26f1f8;
//       color: #fff
//   }

//   100% {
//       background-color: #faa9ba;
//       color: #1e1e1e
//   }
// }
.icon-holder-big {
  width: 45px;
  height: 37px;
  margin: 2px auto auto;
  align-items: center;
  display: flex;
}

.sports-icon {
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url('./assets/img/sports-icons.png');
  width: 24px;
  height: 20px;
  background-position: 0 -900px;
  background-size: 24px auto;

  &.home {
    background-position: 0 -1849px;
    width: 32px;
    height: 28px;
    background-size: 32px;
  }

  &.cricket,
  &.tennis,
  &.soccer {
    background-position: 0 -502px;
    width: 45px;
    height: 36px;
    background-size: 43px auto;
  }

  &.tennis {
    background-position: 0 -1684px;
  }

  &.soccer {
    background-position: 0 -1578px;
  }

  &.all-sports {
    background-position: 0 0;
  }

  &.poker {
    background-position: 0 -740px;
  }
}

.z-0 {
  z-index: 0;
}

.btn-primary.focus,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active {
  color: #5c6060 !important;
  background-color: #ffcb2f;
  border-color: #ffcb2f;
  box-shadow: 0 0 0 0.2rem rgb(255 217 38 / 50%);
}






// spark css blink
.back.spark {
  -webkit-animation: sparkBack .5s ease;
  animation: sparkBack .5s ease
}

@-webkit-keyframes sparkBack {
  0% {
    background-color: #72bbef;
    color: #1e1e1e
  }

  50% {
    background-color: #f8e71c;
    color: #fff
  }

  100% {
    background-color: #72bbef;
    color: #1e1e1e
  }
}

@keyframes sparkBack {
  0% {
    background-color: #72bbef;
    color: #1e1e1e
  }

  50% {
    background-color: #f8e71c;
    color: #fff
  }

  100% {
    background-color: #72bbef;
    color: #1e1e1e
  }
}

.back_1.spark {
  -webkit-animation: sparkBack_2 .5s ease;
  animation: sparkBack_2 .5s ease
}

@-webkit-keyframes sparkBack_2 {
  0% {
    background-color: #b7d5eb;
    color: #1e1e1e
  }

  50% {
    background-color: #f8e71c;
    color: #fff
  }

  100% {
    background-color: #b7d5eb;
    color: #1e1e1e
  }
}

@keyframes sparkBack_2 {
  0% {
    background-color: #b7d5eb;
    color: #1e1e1e
  }

  50% {
    background-color: #f8e71c;
    color: #fff
  }

  100% {
    background-color: #b7d5eb;
    color: #1e1e1e
  }
}

.back_2.spark {
  -webkit-animation: sparkBack_3 .5s ease;
  animation: sparkBack_3 .5s ease
}

@-webkit-keyframes sparkBack_3 {
  0% {
    background-color: #d7e8f4;
    color: #1e1e1e
  }

  50% {
    background-color: #f8e71c;
    color: #fff
  }

  100% {
    background-color: #d7e8f4;
    color: #1e1e1e
  }
}

@keyframes sparkBack_3 {
  0% {
    background-color: #d7e8f4;
    color: #1e1e1e
  }

  50% {
    background-color: #f8e71c;
    color: #fff
  }

  100% {
    background-color: #d7e8f4;
    color: #1e1e1e
  }
}

.lay.spark {
  -webkit-animation: sparkLay .5s ease;
  animation: sparkLay .5s ease
}

@-webkit-keyframes sparkLay {
  0% {
    background-color: #faa9ba;
    color: #1e1e1e
  }

  50% {
    background-color: #26f1f8;
    color: #fff
  }

  100% {
    background-color: #faa9ba;
    color: #1e1e1e
  }
}

@keyframes sparkLay {
  0% {
    background-color: #faa9ba;
    color: #1e1e1e
  }

  50% {
    background-color: #26f1f8;
    color: #fff
  }

  100% {
    background-color: #faa9ba;
    color: #1e1e1e
  }
}

.lay_1.spark {
  -webkit-animation: sparkLay_2 .5s ease;
  animation: sparkLay_2 .5s ease
}

@-webkit-keyframes sparkLay_2 {
  0% {
    background-color: #efd3d9;
    color: #1e1e1e
  }

  50% {
    background-color: #26f1f8;
    color: #fff
  }

  100% {
    background-color: #efd3d9;
    color: #1e1e1e
  }
}

@keyframes sparkLay_2 {
  0% {
    background-color: #efd3d9;
    color: #1e1e1e
  }

  50% {
    background-color: #26f1f8;
    color: #fff
  }

  100% {
    background-color: #efd3d9;
    color: #1e1e1e
  }
}

.lay_2.spark {
  -webkit-animation: sparkLay_3 .5s ease;
  animation: sparkLay_3 .5s ease
}

@-webkit-keyframes sparkLay_3 {
  0% {
    background-color: #f6e6ea;
    color: #1e1e1e
  }

  50% {
    background-color: #26f1f8;
    color: #fff
  }

  100% {
    background-color: #f6e6ea;
    color: #1e1e1e
  }
}

@keyframes sparkLay_3 {
  0% {
    background-color: #f6e6ea;
    color: #1e1e1e
  }

  50% {
    background-color: #26f1f8;
    color: #fff
  }

  100% {
    background-color: #f6e6ea;
    color: #1e1e1e
  }
}

.form-control:focus {
  box-shadow: initial;
}

.chipSettingModal {
  max-width: 600px;

  &.tandcMod {
    max-width: 800px;
  }

  .modal-content {
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12), 0 11px 15px -7px rgba(0, 0, 0, .2);

    form {
      .form-field {
        margin-bottom: 12px;

        label {
          color: #5c6060;
          font-weight: 600;
          font-size: 12px;
          margin-bottom: 0;
        }

        input {
          padding: 5px 0 0 5px !important;
          border: 0;
          border-bottom: 1px solid #eee !important;
          font-size: 12px;
          color: #5c6060;
          font-weight: 600;
          background-color: transparent;
          border-radius: 0px;

          &:focus {
            border-bottom: 1px solid #ffcb2f !important;
          }

          &::placeholder {
            color: #d6d6d6;
            font-weight: 500;
          }
        }
      }
    }

    .modal-footer {
      flex-wrap: nowrap;

      button {
        position: relative;
        cursor: pointer;
        padding: 5px;
        width: 100%;
        max-width: 180px;
        height: 33px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        line-height: 2;
        font-size: 12px;
        box-shadow: none;
        font-weight: 600;
        border-radius: 30px;
        text-transform: uppercase;
        text-align: center;
        overflow: inherit;
        transition: all .2s;
        border: 0;

        .animate-btn {
          z-index: 1;
          position: relative;
        }

        &.modSubmit {
          background-color: #4caf50 !important;
          color: #fff !important;

          &:before {
            opacity: 0;
            transform-origin: center center 0 50%;
            transition: all .5s ease-out;
            position: absolute;
            content: attr(data-effect);
            backface-visibility: hidden;
            top: 0;
            left: 0;
          }

          &:after {
            position: absolute;
            content: attr(data-effect);
            opacity: 1;
            top: 0;
            left: 0;
            right: 100%;
            bottom: 0;
            color: transparent;
            z-index: 0;
            border-radius: 30px;
          }

          &:hover {
            &:after {
              background-color: #176d1a !important;
              transition: all ease-in .4s;
              right: 0;
            }
          }
        }

        &.modCancel {
          background-color: #f44336 !important;

          &:before {
            opacity: 0;
            transform-origin: center center 0 50%;
            transition: all .5s ease-out;
            position: absolute;
            content: attr(data-effect);
            backface-visibility: hidden;
            top: 0;
            left: 0;
          }

          &:after {
            content: attr(data-effect);
            opacity: 1;
            position: absolute;
            top: 0;
            left: 0;
            right: 100%;
            bottom: 0;
            color: transparent;
            z-index: 0;
            border-radius: 30px;
          }

          &:hover {
            &:after {
              background-color: #a21c12 !important;
              transition: all ease-in .4s;
              right: 0;
            }
          }
        }
      }
    }

    .termConWrap {
      height: calc(320px - 26px);
      max-height: 100%;
      width: 100%;
      overflow: auto;
      @include scrollBarnew;
    }
  }
}

.changepasswordModal {
  max-width: 450px;

  .modal-content {
    .termConWrap {
      height: calc(230px - 26px);
    }
  }
}

.chipsetting {
  .btn-close {
    color: #5c6060 !important;
  }
}

.termcond {
  .modal-body {

    li,
    p {
      margin: 10px 0;
      color: #999999;
      font-size: 12px;
      font-weight: 500;
    }
  }

  .termConWrap {
    height: calc(450px - 26px) !important;
  }
}

body {
  .colorMood {
    button {
      svg {
        width: 22px;
      }

      .dark {
        display: none;
      }

      .light {
        display: inline-flex;
      }
    }
  }

  &.dark-theme {
    .colorMood {
      button {
        .light {
          display: none;
        }

        .dark {
          display: inline-flex;
        }
      }
    }
  }
}




// dark mode css
body.dark-theme {
  background-color: #000;
  color: #b9b9b9;

  header {
    background: #242424;

    .logo_area {
      img {
        filter: invert(1);
      }
    }

    .main_nav {
      li {
        a {
          border: 1px solid #646464 !important;
          color: #b9b9b9 !important;

          &.active {
            &:after {
              background-color: #646464 !important;
            }
          }

          &:hover {
            &:after {
              background-color: #646464 !important;
            }
          }
        }
      }
    }

    .header_details {
      .login_btns {
        button.btn-primary {
          background: #424242 !important;
          color: #b9b9b9 !important;

          &:hover {
            background-color: #ffcb2f !important;
            color: #000 !important;
          }
        }
      }
    }

    .bottom-header {
      ul {
        li {
          a {
            color: #b9b9b9 !important;

            &:before {
              background-color: #b9b9b9 !important;
            }
          }

          .logo-search {
            input {
              background-color: #ffcb2f !important;
              color: #273a47 !important;
            }
          }
        }
      }
    }
  }

  .side_tabs {
    background-color: #181818;

    .tab_title {
      ul {
        li {
          a {

            &.active,
            &:hover {
              color: #fff !important;
            }

            &:before {
              background-color: #646464 !important;
            }
          }
        }
      }
    }

    .side_cards {
      ul {
        li {
          a {
            color: #b9b9b9 !important;

            &:hover {
              background-color: transparent !important;
            }

            &.main_drop.drop_open {
              background-color: transparent !important;

              &:hover {
                background-color: transparent !important;
              }
            }

            &.main_drop {
              .icon {
                svg {
                  fill: #fff;
                }
              }
            }
          }

          .step_1 {
            li {
              .item {
                a {
                  border-left: 2px solid #ffffff !important;
                }
              }
            }
          }
        }
      }
    }
  }

  .market_area {
    background: #181818;
  }

  .tabs_nav {
    ul {
      border-bottom: 1px solid #404040 !important;

      li {
        a {
          border-right: 1px solid #404040 !important;

          .txt {
            color: #b9b9b9;
          }
        }
      }
    }
  }

  .market {
    .event_l {
      &:nth-child(odd) {
        background: rgba(100, 100, 100, .1) !important;
      }

      &:hover {
        &:before {
          background-color: #454646 !important;
        }
      }

      .event_teams {
        p {
          color: #b9b9b9 !important;
        }

        .vrs {
          svg {
            fill: #b9b9b9;
          }
        }
      }

      .event_info {
        a {
          color: #b9b9b9 !important;
        }
      }

      .timeCol {
        background-color: #4c4c4c;
        color: #b9b9b9;
      }

      .eventLiveInplay {
        .timeCol {
          color: #a13f7c;
        }
      }
    }
  }

  .casino_bar {
    .rightGames {
      h3 {
        color: #b9b9b9 !important;
      }

      .tab-content {
        background: #181818;

        .game {
          .overlay {
            .game-title {
              color: #b9b9b9 !important;
            }
          }
        }
      }
    }
  }

  .footer-main {
    ul.links {
      li {
        a {
          color: #b9b9b9 !important;
          border-color: #fff !important;
        }
      }
    }

    .copyright {
      color: #b9b9b9 !important;
    }
  }

  .scrollToTop {
    background: #fff;
    color: #000;
  }

  .match_head {
    background-color: #242424 !important;
    color: #b9b9b9 !important;

    .animate_bx {
      ul {
        li {
          .vs_img {
            svg {
              path {
                fill: #b9b9b9 !important;
              }
            }
          }
        }

        li.times-n-date {
          .date-time {
            box-shadow: rgba(255, 255, 255, .3) 0 0 0, rgba(255, 255, 255, .4) 0 1px 6px !important;

            .time {
              color: #b9b9b9 !important;
            }
          }
        }
      }
    }

    .series_name {
      h6 {
        box-shadow: rgba(255, 255, 255, .3) 0 0 0, rgba(255, 255, 255, .4) 0 1px 6px !important;
        color: #fff;
        background-color: #424242 !important;

        &:after,
        &:before {
          background-color: #4c4c4c !important;
        }
      }
    }

    .market_assets {
      ul {
        li {
          button {
            svg {
              path {
                fill: #b9b9b9 !important;
              }
            }
          }
        }
      }
    }
  }

  .match_bx {
    background: #181818;

    .accordianods {
      ul.nav-pills {
        background-color: #181818 !important;

        li {
          button {
            color: #b9b9b9 !important;

            &.active {
              &:after {
                background-color: #ffffff !important;
              }
            }
          }
        }
      }

      .tab-content {
        .tab_accordion {
          button.accor_btn {
            background: #292a2a !important;
            color: rgb(255 255 255 / 80%) !important;

            .txt {
              color: rgb(255 255 255 / 80%) !important;
            }

            svg {
              fill: #b9b9b9 !important;
            }
          }

          .inner_bet_table {
            .bet_table_row {
              .bl_boxMain {
                &:before {
                  background: none repeat scroll 0 0 rgba(89, 89, 89, .9) !important;
                }

                &:after {
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }

  .main_wrap {
    .cstm_row {
      .nav {
        li {
          a {
            color: #fff !important;
          }
        }
      }
    }
  }

  .user-menus {
    li.userDrop {
      ul.dropdown-menu {
        background-color: #242424;

        li {
          a {
            color: #b9b9b9 !important;

            &:hover {
              background-color: #ffcb2f !important;
              color: #000 !important;
            }
          }
        }
      }
    }

    li {
      color: #b9b9b9 !important;

      &:hover {
        &:after {
          background-color: #b9b9b9;
        }
      }

      svg {
        path {
          fill: #b9b9b9 !important;
        }
      }

      &.userDrop {
        .dropdown {
          button {
            i {
              color: #b9b9b9 !important;
            }
          }
        }
      }
    }
  }

  .page_title {
    h3 {
      color: #b9b9b9 !important;
    }
  }

  .center_inner {
    background-color: #181818;
  }

  .middle_area {
    .mid_inner {
      background-color: #181818;
    }
  }

  .my_bets_table {
    .filter {

      .form-select,
      .form-control {
        border: 1px solid #919191;
        background-color: transparent;
        color: #ccc;
      }
    }
  }

  .pagination_filter {
    select {
      color: #b9b9b9 !important;
    }
  }

  .ngx-pagination {
    .disabled {
      color: #cacaca !important;
    }
  }

  .table {
    thead {
      th {
        color: #b9b9b9 !important;
      }
    }

    tbody {
      tr {
        background-color: #181818;

        td {
          border-bottom: 1px solid rgb(117 117 117 / 67%);
        }
      }
    }
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }

  .my_bets_table {
    .filter {
      button {
        &:hover {
          border: 1px solid #fff !important;
          background: #fff !important;
          box-shadow: 0 0 8px 0 #fff !important;
          color: #000 !important;
        }
      }
    }
  }

  .modal {
    // background-color: #3c444b !important;

    .modal-content {
      .modal-body {
        background-color: #3c444b !important;
      }
    }
  }

  .termsCondition {
    .termConWrap {
      h3 {}
    }
  }


  .modal-content {
    background-color: #3c444b;
  }

  .chipSettingModal {
    .modal-content {
      form {
        .form-field {

          label,
          input {
            color: #b9b9b9;
          }

          input {
            border-bottom: 1px solid #6a6a6a !important;
          }
        }
      }
    }
  }

  .login_form {
    button.btn-close {
      color: #b9b9b9 !important;
    }
  }

  .upcoming_games_list {
    li {
      .game_name {
        h5 {
          color: #b9b9b9 !important;

          .versis_img {
            svg {
              fill: #b9b9b9 !important;
            }
          }
        }
      }

      .date_time {
        .time {
          color: #b9b9b9 !important;
        }
      }
    }
  }

  .content_disable {
    color: #b9b9b9 !important;
  }

  .pagination_filter {
    .pagination {
      a {
        color: #b9b9b9 !important;
      }
    }
  }

  .ngx-pagination a:hover,
  .ngx-pagination button:hover {
    background: #3a3939 !important;
  }

  .market {
    .market-title {
      color: #b9b9b9 !important;
    }
  }

  .sidebar_toggle_btn {
    img {
      filter: invert(1);
    }
  }

  .mobMarquee {
    color: #b9b9b9 !important;
  }

  .bottom_nav {
    background-color: #242424 !important;
    color: #000 !important;

    ul {
      li {
        &.all-items {
          .menu-item {
            box-shadow: 3px 3px 5px #1b1a1a, -3px -3px 5px #2b2b2b !important;
            background-color: #242424 !important;
          }

          .bottom-circle {
            .circle-nav {
              .circle-nav-open {
                background-color: #242424 !important;
              }
            }
          }
        }

        &.big {
          &:before {
            box-shadow: 3px 3px 5px #1b1a1a, -3px -3px 5px #2b2b2b !important;
            background-color: #242424 !important;
          }
        }

        .noneAllit {
          svg {
            path {
              fill: #fff !important;
            }
          }
        }

        a {
          color: #b9b9b9 !important;

          svg {
            path {
              fill: #b9b9b9 !important;
            }
          }
        }
      }
    }
  }

  .m_left_sidebar {
    background: #181818 !important;
  }
}

.custoModalld {
  .modal-custom-md {
    max-width: 600px;
  }

  .modal-content {
    border-radius: 20px;

    .modal-header {
      padding: 5px 10px;
      border: 0;

      .modal-title {
        padding: 10px 10px 5px 15px;
        color: #5c6060;
        font-size: 16px;
        position: relative;
        font-weight: 600;
        padding: 0px 4px 8px 4px;

        &:after {
          content: "";
          position: absolute;
          width: 100%;
          bottom: 2px;
          left: 0px;
          border-bottom: 2px solid #ffcb2f;
        }
      }

      .close {
        padding: 5px;
        margin: 0;
        opacity: 1;
        position: relative;
        font-size: 20px;
        font-weight: 700;
        line-height: 1;
        color: #5c6060;
      }
    }


    .modal-body {
      border: 0;

      table {
        tr {
          th {
            white-space: nowrap;
          }

          td,
          th {
            padding: 15px 5px;
          }
        }
      }
    }

    .modal-footer {
      padding: 6px 0.75rem;

      a.modal-close {
        padding: 5px;
        width: 100%;
        max-width: 180px;
        float: right;
        height: 33px;
        display: block;
        color: #fff;
        line-height: 2;
        font-size: 12px;
        box-shadow: none;
        font-weight: 600;
        border-radius: 30px;
        text-transform: uppercase;
        text-align: center;
        overflow: inherit;
        position: relative;
        transition: all .2s;
        background-color: #f44336;

        &:before {
          opacity: 0;
          transform-origin: center center 0 50%;
          transition: all .5s ease-out;
          position: absolute;
          content: attr(data-effect);
          backface-visibility: hidden;
          top: 0;
          left: 0;
          transition: all .5s ease-out;
          position: absolute;
          content: attr(data-effect);
          backface-visibility: hidden;
        }

        &:after {
          opacity: 1;
          top: 0;
          left: 0;
          right: 100%;
          bottom: 0;
          color: transparent;
          z-index: 0;
          border-radius: 30px;
          transition: all .5s ease-out;
          position: absolute;
          content: attr(data-effect);
          backface-visibility: hidden;
        }

        &:hover {
          &:after {
            background-color: #a21c12 !important;
            transition: all ease-in .4s;
            right: 0;
          }

          .animate-btn {
            z-index: 1;
            position: relative;
          }
        }
      }
    }
  }
}